{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/studentIndex.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 100%; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>- QCM -</h1>

    <div class="global">
            <article class="article1">
                <section>
                    <h2>QCM à faire</h2>
                        <div class="centre">
                            <p><strong>Nom du qcm : </strong> {% for qcm in qcmOfTheWeek %} {{qcm.name}} {% endfor %}</p>
                            <a class="button" href="">Faire le QCM</a>
                        </div>
                    <div class="centre2">
                        <h2>QCM intermédiaire</h2>
                        <div class="inter">
                            <select name="module" class="select2">
                                <option value="">-- Choix du QCM --</option>
                                {% for unofficialQcmInstanceNotDone in unofficialQcmInstancesNotDone %}
                                    <option value="">
                                        {{unofficialQcmInstanceNotDone.name}}
                                    </option>
                                {% endfor %}
                            </select>
                            <a class="button2" href="">Faire le QCM</a>
                        </div>
                    </div>
                </section>
                  <h2>Je m'entraine</h2>
                <section class="cercle">

                    <div class="training">
                        <select name="module" class="select1">
                            <option value="">-- Choix du module --</option>
                            {% for sessionModule in sessionModules %}
                            <option value="">
                                {{sessionModule.title}}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="difficult">
                                <div>
                                    <input type="radio" id="huey" name="drone" value="huey"
                                           checked>
                                    <label for="huey">Facile</label>
                                </div>

                                <div>
                                    <input type="radio" id="dewey" name="drone" value="dewey">
                                    <label for="dewey">Moyen</label>
                                </div>

                                <div>
                                    <input type="radio" id="louie" name="drone" value="louie">
                                    <label for="louie">Difficile</label>
                                </div>
                        </div>
                        <a class="buttonvalid" href="">Je m'entraine</a>
                    </div>
                </section>
            </article>
            <span></span>
            <article class="article2">
                <section class="section">
                    <h2>QCM réalisés</h2>
                    <div class="centre3">
                        <p>En cliquant sur le bouton "QCM réalisés", tu pourras retrouver les qcm que tu as terminés, voir tes réponses fausses et t'entrainer à les refaire.</p>
                        <a class="real" href="qcmDone">QCM réalisés</a>
                    </div>
                </section>
                <section>
                    <h2>Je retente ma chance</h2>
                    <div class="centre_chance">
                        <p>Si tu as obtenu "découvre" ou "explore" à un des qcm, tu peux tenter d'obtenir à nouveau ton badge et l'ajouter à ta collection en repassant un qcm du module en question.</p>
                    </div>
                    <div class="div_badge">
                        <div class="last_div">
                            <select name="module" class="select2">
                                <option value="">-- Choix du module --</option>
                                {% for retryableModule in retryableModules %}
                                    <option value="">
                                        {{retryableModule.title}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <a class="buttonbadge" href="">J'essaie d'obtenir mon badge</a>
                    </div>
                </section>
                <p class="lastP">Repasser le qcm pour obtenir le badge du module ne changera pas le niveau obtenu lors du QCM officiel</p>
            </article>
    </div>
</div>

{#    <p>#}
{#        {% for students in student %}#}
{#            {{ dump(sutdents) }}#}
{#        {% endfor %}#}
{#    </p>#}
{#    <p>#}

{#        {% for unofficialQcmInstanceNotDone in unofficialQcmInstancesNotDone %}#}
{#            {{ dump(unofficialQcmInstanceNotDone.name)}}#}
{#        {% endfor %}#}
{#    </p>#}
{#    <p>#}

{#        {% for sessionModule in sessionModules %}#}
{#            {{ dump(sessionModule) }}#}
{#        {% endfor %}#}
{#    </p>#}
{#    <p>#}
{#        {% for retryableModule in retryableModules %}#}
{#            {{ dump(retryableModule) }}#}
{#        {% endfor %}#}
{#    </p>#}
{% endblock %}


