{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ student.getFirstName }} !!!!!!!</h1>
    <p>qcmOfTheWeek (official, current date between release date and end date)
        {% for qcm in qcmOfTheWeek %}
            {{ dump(qcm) }}
        {% endfor %}
    </p>
    <p>
        unofficialQcmInstancesNotDone
        {% for unofficialQcmInstanceNotDone in unofficialQcmInstancesNotDone %}
            {{ dump(unofficialQcmInstanceNotDone) }}
        {% endfor %}
    </p>
    <p>
        sessionModules
        {% for sessionModule in sessionModules %}
            {{ dump(sessionModule) }}
        {% endfor %}
    </p>
    <p>
        retryableModules
        {% for retryableModule in retryableModules %}
            {{ dump(retryableModule) }}
        {% endfor %}
    </p>
</div>
{% endblock %}
