{% extends 'base.html.twig' %}

{% block title %}Mon niveau{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/level_modules.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1>{{ 'title.myLevel'|trans }}</h1>

    <p class="etape"><span>1</span> {{ 'title.legendLevels'|trans }} </p>
    <div class="divLegend">
        <div class="imgLegend">
            <img src="{{asset('build/images/arbre_decouvre.svg')}}" alt="Graine d'arbre" class="decouvre">
            <p class="pLegend">
                {{ 'title.decouvre'|trans }}
            </p>
        </div>
        <div class="imgLegend">
            <img src="{{asset('build/images/arbre_explore.svg')}}" alt="Jeune pousse d'arbre">
            <p class="pLegend">
                {{ 'title.explore'|trans }}
            </p>
        </div>
        <div class="imgLegend">
            <img src="{{asset('build/images/arbre_maitrise.svg')}}" alt="arbre adulte">
            <p class="pLegend">
                {{ 'title.maitrise'|trans }}
            </p>
        </div>
        <div class="imgLegend">
            <img src="{{asset('build/images/arbre_domine.svg')}}" alt="arbre adulte fleuri">
            <p class="pLegend">{{ 'title.domine'|trans }}</p>
        </div>
    </div>
    <div class="containerLevel">
        <div>
            <p class="etape"><span>2</span> {{ 'title.moduleDoneWithLvl'|trans }} </p>
        </div>
        {% if moduleGroups %}
            {% for key, module in moduleGroups %}
                <div class="divLevel">
                    <div class="divModule">
                        <p class="moduleName">
                            Nom du module : {{ key }}
                        </p>
                        {% if module.level is same as 1 %}
                            <img src="{{asset('build/images/arbre_decouvre.svg')}}" alt="Graine d'arbre" class="decouvre">
                        {% elseif module.level is same as 2 %}
                            <img src="{{asset('build/images/arbre_explore.svg')}}" alt="Jeune pousse d'arbre">
                        {% elseif module.level is same as 3 %}
                            <img src="{{asset('build/images/arbre_maitrise.svg')}}" alt="arbre adulte">
                        {% elseif module.level is same as 4 %}
                            <img src="{{asset('build/images/arbre_domine.svg')}}" alt="arbre adulte fleuri">
                        {% endif %}
                    </div>
                    <div class="divLink">
                        <h4>{{ 'title.toProgress'|trans }}</h4>
                        <div>
                            <p>
                                {{ 'title.mdnDocLink'|trans }}
                            </p>
                            <p>
                                {{ 'title.3waDocLink'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>{{ 'title.noModuleDone'|trans }}</p>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/student/level_module.js') }}"></script>
{% endblock %}