{% extends 'base.html.twig' %}

{% block title %}Mon niveau{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/level_modules.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1>Mon niveau</h1>

            <p class="etape"><span>1</span> Légende des niveaux </p>
    <p class="etape"><span>1</span> Légende des niveaux </p>
    <div class="divLegend">
        <div class="imgLegend">
            <img src="{{asset('build/images/arbre_decouvre.svg')}}" alt="Graine d'arbre" class="decouvre">
            <p class="pLegend">
                Découvre
            </p>
        </div>
        <div class="imgLegend">
            <img src="{{asset('build/images/arbre_explore.svg')}}" alt="Jeune pousse d'arbre">
            <p class="pLegend">
                Explore
            </p>
        </div>
        <div class="imgLegend">
            <img src="{{asset('build/images/arbre_maîtrise.svg')}}" alt="arbre adulte">
            <p class="pLegend">
                Maîtrise
            </p>
        </div>
        <div class="imgLegend">
            <img src="{{asset('build/images/arbre_domine.svg')}}" alt="arbre adulte fleuri">
            <p class="pLegend">Domine</p>
        </div>
    </div>
    <div class="containerLevel">
        <div>
            <p class="etape"><span>2</span> Ensemble des modules terminés avec ton niveau </p>
        </div>
        {% if modules %}
            {% for module in modules %}
                <div class="divLevel">
                    <div class="divModule">
                        <p class="moduleName">
                            Nom du module : {{ module.title }}
                        </p>
                        {% if module.level is same as 1 %}
                            <img src="{{asset('build/images/arbre_decouvre.svg')}}" alt="Graine d'arbre" class="decouvre">
                        {% elseif module.level is same as 2 %}
                            <img src="{{asset('build/images/arbre_explore.svg')}}" alt="Jeune pousse d'arbre">
                        {% elseif module.level is same as 3 %}
                            <img src="{{asset('build/images/arbre_maîtrise.svg')}}" alt="arbre adulte">
                        {% elseif module.level is same as 4 %}
                            <img src="{{asset('build/images/arbre_domine.svg')}}" alt="arbre adulte fleuri">
                        {% endif %}
                    </div>
                    <div class="divLink">
                        <h4>Pour progresser</h4>
                        <div>
                            <p>
                                Lien vers la doc mdn
                            </p>
                            <p>
                                lien vers la doc 3wa
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun module n'est terminé.</p>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/student/level_module.js') }}"></script>
{% endblock %}