{% extends 'base.html.twig' %}

{% block title %}Ma progression{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/progression.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Ma progression</h1>

    <div class="containerTimeLine">
        <div class="lineX"></div>
        <div class="timeLine">
            {% set getBadge = "" %}
            {% for moduleGroup in moduleGroups %}
                {% for key, qcm in moduleGroup %}
                    {% if not key is same as 'getBadge' %}
                        <div class="isOfficialQcm groupElementTimeLine"
                             data-level = "{{ qcm.level }}"
                             data-endDate = "{{ qcm.endDate }}"
                        >
                            <div class="lineY"></div>
                            <div class="infoQcm">
                                <p class="infoTimeLine moduleTitle" data-id = "{{ qcm.moduleId }}"> {{ qcm.moduleTitle }} </p>
                                <a href="{{ path('student_qcm_training', {module: qcm.moduleId} ) }}"><p class="infoTimeLine iTrainning"> {{ 'qcm.iTrainning'|trans }} </p></a>
                            </div>
                        {% if qcm.level is same as 1 or qcm.level is same as 2%}
                            <p class="passOrNot">X</p>
                        {% else %}
                            <p class="passOrNot">V</p>
                        {% endif %}
                        </div>
                    {% else %}
                        {% set getBadge = qcm %}
                    {% endif %}
                {% endfor %}
                    <p class="pBadge groupElementTimeLine">
                    {% if getBadge is same as true %}
                        <img src="{{asset('build/images/logo_sans_fond.png')}}" alt="Logo YouUp" class="imgYouUp">
                    {% else %}
                        <img src="{{asset('build/images/wrongTemporaire.png')}}" alt="Croix" class="wrong">
                    </p>

                {% endif %}
            {% endfor %}
        </div>
    </div>
    <h2>{{ 'title.myInducementBadges'|trans }}</h2>
    <div class="containerBadges">
        <div class="splitBadges">
            {% if app.user.badges != null and app.user.badges != [] %}
                {% for badge in app.user.badges %}
                    {% set var = 'build/images/badges/'~badge~'.png' %}
                    <img src="{{ asset(var) }}" alt="badge gagné" class="badges">
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <a href="" class="certif">{{ 'title.myCertification'|trans }}</a>
    <p class="lilMessage">*{{ 'title.unlockWhenQcmDone'|trans }}</p>
{% endblock %}
{% block javascripts %}
    <script>
        let moduleGroups = {{ moduleGroups|json_encode|raw }};
        let logo = "{{asset('build/images/logo_sans_fond.png')}}";
        let wrong = "{{asset('build/images/wrongTemporaire.png')}}";
    </script>
    <script type="text/javascript" src="{{ asset('js/student/progression.js') }}"></script>
{% endblock %}