{% extends 'base.html.twig' %}

{% block title %}{{ 'qcm.todo'|trans }}{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/qcmToDoAndQcmCorrection.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

        <h1>- {{ 'qcm.correction'|trans }} -</h1>

        <div class="divName">
            <p class="nom">
                {{ 'module.name'|trans }} :
                {{ titleModule }}
            </p>
            <p class="nom">
                {{ 'qcm.name'|trans }} :
                {{ nameQcmInstance }}
            </p>
        </div>
        <div class="premiereDiv">
            <div class="diff">
                <p>{{ 'difficulty.easy'|trans }}</p>
                <img src="{{asset('build/images/trefle_facile.png')}}" alt="facile">
            </div>
            <div class="diff">
                <p>{{ 'difficulty.medium'|trans }}</p>
                <img src="{{asset('build/images/trefle_moyen.png')}}" alt="moyen">
            </div>
            <div class="diff">
                <p>{{ 'difficulty.difficult'|trans }}</p>
                <img src="{{asset('build/images/difficil_difficile.png')}}" alt="difficile">
            </div>
        </div>

        <section>
            {% for question in qcmQuestions %}
                <div class="imageDiff">
                    <div class="trefle">
                        <img src="{{asset('build/images/difficil_difficile.png')}}" alt="difficile">
                    </div>
                    <div>
                        <p class="question"><span class="numeroForm">1</span>
                            {{ question.wording | raw }}
                        </p>
                    </div>
                    <div>
                        {% if question.isCorrect %}
                            <p class="bravo">{{ 'title.bravo'|trans }}!</p>
                        {% else %}
                            <p class="oups">{{ 'title.oups'|trans }}</p>
                        {% endif %}
                    </div>

                </div>
                <div class="allReponse">
                    {% for proposal in question.answers %}
                        {% if proposal.isCorrectAnswer == true and proposal.isStudentAnswer == true %}
                            <div class="reponseCorrection">
                                {% if not question.isMultiple %}
                                    <input type="radio" checked disabled>
                                {% else %}
                                    <input type="checkbox" checked disabled>
                                {% endif %}
                                <div class="divReponse">
                                    <label data-correction="green">{{ proposal.wording | raw }}</label>
                                    <img class="imgReponse" src="{{asset('build/images/good.png')}}" alt="Bonne réponse">
                                </div>
                            </div>
                        {% elseif proposal.isCorrectAnswer%}
                            <div class="reponseCorrection">
                            {% if not question.isMultiple %}
                                <input type="radio" disabled>
                            {% else %}
                                <input type="checkbox" disabled>
                            {% endif %}
                                <div class="divReponse">
                                    <label data-correction="green">{{ proposal.wording | raw }}</label>
                                </div>
                            </div>
                        {% elseif proposal.isStudentAnswer and proposal.isCorrectAnswer is same as false %}
                            <div class="reponseCorrection">
                                {% if not question.isMultiple %}
                                    <input type="radio" checked disabled>
                                {% else %}
                                    <input type="checkbox" checked disabled>
                                {% endif %}
                                <div class="divReponse">
                                    <label >{{ proposal.wording | raw }}</label>
                                    <img class="imgReponse" src="{{asset('build/images/wrong.png')}}" alt="Mauvaise réponse">
                                </div>
                            </div>
                        {% else %}
                            <div class="reponseCorrection">
                                {% if not question.isMultiple %}
                                    <input type="radio" disabled>
                                {% else %}
                                    <input type="checkbox" disabled>
                                {% endif %}
                                <div class="divReponse">
                                    <label >{{ proposal.wording | raw }}</label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="explanation">
                    <h4>{{ 'title.explanation'|trans }}</h4>
                    <p>
                        {{ question.explanation }}
                    </p>
                </div>
            {% endfor %}
            {% if 'ROLE_STUDENT' in app.user.roles  %}
            <div class="containerComment">
                <div>
                    <h4>{{ 'title.myComment'|trans }} </h4>
                    <p class="comment">
                        {{ studentComment }}
                    </p>
                </div>
                <div>
                    <h4>{{ 'title.trainerComment'|trans }} </h4>
                    <p class="comment">
                        {{ instructorComment }}
                    </p>
                </div>
                {% elseif 'ROLE_INSTRUCTOR' in app.user.roles %}
                    <div class="containerComment">
                        <div>
                            <h4>{{ 'title.addCommentary'|trans }}</h4>
                            <input
                                    class="comment"
                                    name="instructorComment"
                                    id="instructorComment"
                                    data-id="{{resultId}}"
                                    value = {{instructorComment}}
                            >
                            <p class="explainComment">{{ 'title.commentaryWillBeSeeable'|trans }}</p>
                            <p style ="display:none;" class="infoComment"></p>
                            <button class="button greyButton largeButton">{{ 'button.add'|trans }}</button>
                        </div>
                        <div>
                            <h4>{{ 'title.studentCommentary'|trans }}</h4>
                            <p class="comment">
                                {{ studentComment }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/student/qcmCorrection.js') }}"></script>
{% endblock %}