{% extends 'base.html.twig' %}

{% block title %}{{ 'qcm.qcmToDo'|trans }}{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/qcmToDoAndQcmCorrection.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

        <h1>- {{ 'qcm.qcmToDo'|trans }} -</h1>

        <div class="divName">
            <p class="nom">
                {{ 'module.name'|trans }} :
                {{ titleModule }}
            </p>
            <p class="nom">
                {{ 'qcm.name'|trans }} :
                {{ nameQcmInstance }}
            </p>
        </div>
        <div class="premiereDiv">
            <div class="diff">
                <p>{{ 'difficulty.easy'|trans }}</p>
                <img src="{{asset('build/images/trefle_facile_bon_vert.png')}}" alt="facile">
            </div>
            <div class="diff">
                <p>{{ 'difficulty.medium'|trans }}</p>
                <img src="{{asset('build/images/trefle_moyen_bon_vert.png')}}" alt="moyen">
            </div>
            <div class="diff">
                <p>{{ 'difficulty.difficult'|trans }}</p>
                <img src="{{asset('build/images/trefle_difficile_bon_vert.png')}}" alt="difficile">
            </div>
        </div>

        <form action="{{ path('student_qcm_to_do', { 'qcmInstance': idQcmInstance , 'isForBadge':isForBadge}) }}" name="formulaire">
            {% for question in questionsAnswers %}
                <div class="imageDiff">
                    <div class="trefle">
                        {% if question.difficulty is same as 1 %}
                            <img src="{{asset('build/images/trefle_facile_bon_vert.png')}}" alt="difficile">
                        {% elseif question.difficulty is same as 2 %}
                            <img src="{{asset('build/images/trefle_moyen_bon_vert.png')}}" alt="difficile">
                        {% elseif question.difficulty is same as 3 %}
                            <img src="{{asset('build/images/trefle_difficile_bon_vert.png')}}" alt="difficile">
                        {% endif %}
                    </div>
                    <div>
                    <p class="question"><span class="numeroForm">1</span>
                    {{ question.wording | raw }}
                    </p>
                    </div>
                </div>
                <div class="allReponse">
                {% for proposal in question.proposals %}
                    {% if not question.isMultiple %}
                        <div class="reponse">
                            <input type="radio" id='{{ proposal.id}}' name="{{ question.id }}" value="{{ proposal.id }}">
                            <div class="divReponse">
                                <label for="{{ question.id }}">{{ proposal.wording | raw }}</label>
                            </div>
                        </div>
                    {% else %}
                        <div class="reponse">
                            <input type="checkbox" id='{{ proposal.id}}' name="{{question.id}}[]" value="{{ proposal.id }}">
                            <div class="divReponse">
                                <label for="{{ question.id }}[]">{{ proposal.wording | raw }}</label>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
                </div>


            {% endfor %}
            <input type="submit" id="valid" value="J'ai fini mon qcm">
        </form>


        <div id="error-modal" style="display: none">
            <div class="overlay"></div>
            <div class="modalContent">
                <img class="logoPop" src="{{asset('build/images/logo_officiel.png')}}">
                <p>
                    {{ 'title.answerToValid'|trans }}
                </p>
                <button type="button" class="cancelBtn" id="cancel-error-qcm-btn">{{ 'button.back'|trans }}</button>
            </div>
        </div>

        <div id="my-modal" class="modalContainer">
            <div class="overlay"></div>
            <div class="modalContent">
                <img class="logoPop" src="{{asset('build/images/logo_officiel.png')}}">
                <p>{{ 'qcm.finish'|trans }}</p>
                <p>{{ 'qcm.questionConfirmQcm'|trans }}</p>
                <div class="buttonPop">
                    <button type="button" class="confirmBtn" id="confirm-comment-btn">{{ 'button.validate'|trans }}</button>
                    <button type="button" class="cancelBtn" id="cancel-qcm-btn">{{ 'button.back'|trans }}</button>
                </div>
            </div>
        </div>

        <div id="comment-modal" class="modalContainer">
            <div class="overlay"></div>
            <div class="modalConfirm">
                <img class="logoPop" src="{{asset('build/images/logo_officiel.png')}}" alt="logo de Youup">
                <p>{{ 'title.myCommentary'|trans }}</p>
                <p>Quels sont tes ressentis par rapport aux questions posées?</p>
                <p>Quels sont selon toi les questions qui t’ont posé problèmes et celles où tu as plutôt bien réussi?</p>
                <p>Tu pourras retrouver cet avis à la fin du corrigé de ce qcm.</p>
                <textarea type="text" name="comment_student"></textarea>
                <div class="buttonPop">
                    <button type="button" class="confirmBtn" id="confirm-qcm-btn">{{ 'button.validate'|trans }}</button>
                    <button type="button" class="cancelBtn" id="cancel-comment-btn">{{ 'button.pass'|trans }}</button>
                </div>
            </div>
        </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/student/qcmToDo.js') }}"></script>
{% endblock %}