{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}

    <div class="qcm">
        <h1>QCM A FAIRE</h1>

        <p>Nom du qcm
            {{ dump(nameQcmInstance) }}
        </p>
        <p>
            Nom du module
            {{ dump(titleModule) }}
        </p>

        <form action="{{ path('student_qcmToDo', { 'qcmInstance': idQcmInstance }) }}">
            <p>Question Reponses</p>
            {% for question in questionsAnswers %}
                {{ dump(question) }}

{#            {{ dump(question) }}#}
                    <p>
                    {{ question.libelle }}
                    </p>
                {% for answer in question.answers %}
                    {% if question.responce_type == 'radio'%}
                        <input type="radio" for='{{ answer.id}}' name="{{ question.id }}" value="{{ answer.id }}"> <label for="{{ answer.id }}">{{ answer.libelle }}</label>
                    {% else %}
                        <input type="checkbox" for='{{ answer.id}}' name="{{question.id}}[]" value="{{ answer.id }}"> <label for="{{ answer.id }}">{{ answer.libelle }}</label>
                    {% endif %}

                {% endfor %}
            {% endfor %}
            <input type="submit" value="J'ai fini mon qcm">
        </form>

    </div>
{% endblock %}