{% extends 'base.html.twig' %}

{% block title %}Qcms réalisés{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/qcmDone.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1>- {{ 'qcm.done'|trans }} -</h1>
    <div class="premierediv">
        <div class="div_badge">
            <p>
                {{ 'qcm.official'|trans }}
            </p>
            <img class="badge" src="{{asset('build/images/officiel.png')}}">
        </div>
        <div class="div_badge">
            <p>
                {{ 'qcm.inter'|trans }}
            </p>
            <img class="badge" src="{{asset('build/images/non-officiel.png')}}">
        </div>
    </div>
    <div class="officiel">
        <div>
            <p>
                <span class="numeroform">1</span>
                {{ 'module.filter'|trans }}:
            </p>
        </div>
        <select name="module">
            <option value="">{{ 'module.plsChoice'|trans }}</option>
            {% for module in modules %}
                <option value="">{{module.title}}</option>
            {% endfor %}
        </select>
    </div>
    <span class="ligne"></span>
    <p>
        <span class="numeroform">2</span>
        Qcm
    </p>
    {% for module in modules %}
        <p class="module">
            Module : {{module.title}}
        </p>
    {% endfor %}{% for qcmDone in qcmsDone %}
    <div class="realise">
        <div class="nomqcm">
            <p>
                {{ 'qcm.name'|trans }}: {{qcmDone.qcm.name}}
            </p>
        </div>
        <div class="date">
            {{qcmDone.result.getCreatedAt()|date('d/m/Y')}}
        </div>
        <div class="div_button">
            <a class="button" href="">Voir les réponses</a>
            <a class="button" href="">Refaire le qcm</a>
        </div>
    </div>
        {% endfor %}
{% endblock %}
