{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/qcmToDo.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="qcm">
        <h1>QCM A FAIRE</h1>

        <div class="divName">
            <p class="nom">
                Nom du module
                {{ titleModule }}
            </p>
            <p class="nom">Nom du qcm
                {{ nameQcmInstance }}
            </p>
        </div>
        <div class="premiereDiv">
            <div class="diff">
                <p>Facile</p>
                <img src="{{asset('build/images/trefle_facile_bon_vert.png')}}" alt="facile">
            </div>
            <div class="diff">
                <p>Moyen</p>
                <img src="{{asset('build/images/trefle_moyen_bon_vert.png')}}" alt="moyen">
            </div>
            <div class="diff">
                <p>Difficile</p>
                <img src="{{asset('build/images/trefle_difficile_bon_vert.png')}}" alt="difficile">
            </div>
        </div>

        <form action="{{ path('student_qcmToDo', { 'qcmInstance': idQcmInstance }) }}" name="formulaire">
            {% for question in questionsAnswers %}
                <div class="imageDiff">
                    <div class="trefle">
                    <img src="{{asset('build/images/trefle_difficile_bon_vert.png')}}" alt="difficile">
                    </div>
                    <div>
                    <p class="question"><span class="numeroForm">1</span>
                    {{ question.libelle }}
                    </p>
                    </div>
                </div>
                <div class="allReponse">
                {% for answer in question.answers %}
                    {% if question.responce_type == 'radio'%}
                        <div class="reponse">
                            <input type="radio" for='{{ answer.id}}' name="{{ question.id }}" value="{{ answer.id }}">
                            <label for="{{ answer.id }}">{{ answer.libelle }}</label>
                        </div>
                    {% else %}
                        <div class="reponse">
                            <input type="checkbox" for='{{ answer.id}}' name="{{question.id}}[]" value="{{ answer.id }}">
                            <label for="{{ answer.id }}">{{ answer.libelle }}</label>
                        </div>
                    {% endif %}

                {% endfor %}
                </div>


            {% endfor %}
            <input class="valid" type="submit" value="J'ai fini mon qcm" onclick="checker()">
        </form>

    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/qcmToDo.js') }}"></script>
{% endblock %}