{% extends 'base.html.twig' %}

{% block title %}{{ 'title.done'|trans }}{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/qcmsDone.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1>- {{ 'qcm.dones'|trans }} -</h1>
    <div class="premiereDiv">
        <div class="divBadge">
            <p>
                {{ 'qcm.official'|trans }}
            </p>
            <img class="badge" src="{{asset('build/images/officiel.png')}}">
        </div>
        <div class="divBadge">
            <p>
                {{ 'qcm.inter'|trans }}
            </p>
            <img class="badge" src="{{asset('build/images/non-officiel.png')}}">
        </div>
        <div class="divBadge">
            <p>
                {{ 'qcm.trainning'|trans }}
            </p>
            <img class="badge" src="{{asset('build/images/qcm_entrainement.png')}}">
        </div>
    </div>
    <div class="officiel">
        <div>
            <p>
                <span class="numeroForm">1</span>
                {{ 'module.filter'|trans }} :
            </p>
        </div>
        <select name="module" id="select_module">
            <option value="">{{ 'module.filter'|trans }}</option>
            {% for module in modules %}
                <option value="">{{module.title}}</option>
            {% endfor %}
        </select>
    </div>
    <span class="ligne"></span>
    <p>
        <span class="numeroForm">2</span>
        Qcm
    </p>

    <p id="module"></p>
{% for qcmDone in qcmsDone %}
    <div class="realise">
        <div class="nomQcm">
            <p>
                {{ 'qcm.name'|trans }} : {{qcmDone.qcm.title}}
            </p>
        </div>
        <div class="date">
            {{qcmDone.result.getSubmittedAt()|date('d/m/Y')}}
        </div>
        <div class="divButton">
            <a class="button" href="{{ path('student_qcm_correction', {result: qcmDone.result.id} ) }}">{{ 'qcm.name'|trans }}</a>
            <a class="button" href="{{ path('student_retry_same_qcm', {qcm: qcmDone.qcm.id} ) }}">{{ 'button.doAgain'|trans }}</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/qcmsDone.js') }}"></script>
{% endblock %}