{% extends 'base.html.twig' %}

{% block title %}Qcm{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/studentIndex.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}


    <h1>- {{ 'qcm.title'|trans }} -</h1>
    <div class="global">
        <article class="articleGauche">
            <section>
                <div class="divQcm">
                    <h2><img class="badge" src="{{asset('build/images/officiel.png')}}">{{ 'qcm.todo'|trans }}</h2>
                    <div class="inter">
                    <p>
                        <strong>{{ 'qcm.name'|trans }} : </strong>
                        {% for qcm in qcmOfTheWeek %} {{qcm.name}} {% endfor %}
                    </p>
                    <a class="button" href="">{{ 'qcm.do'|trans }}</a>
                    </div>
                </div>
                <div class="divQcm">
                    <h2><img class="badge" src="{{asset('build/images/non-officiel.png')}}">{{ 'qcm.inter'|trans }}</h2>
                    <div class="inter">
                        <select name="module" class="selectEntrainement">
                            <option value="">-- {{ 'qcm.choice'|trans }} --</option>
                            {% for unofficialQcmInstanceNotDone in unofficialQcmInstancesNotDone %}
                                <option value="">{{unofficialQcmInstanceNotDone.name}}</option>
                            {% endfor %}
                        </select>
                        <a class="buttonExercice" href="">{{ 'qcm.todo'|trans }}</a>
                    </div>
                </div>
            </section>
            <h2><img class="badge" src="{{asset('build/images/qcm_entrainement.png')}}">{{ 'qcm.trainning'|trans }}</h2>
            <section class="cercle">
                <div class="training">
                    <select name="module" class="selectModule">
                        <option value="">-- {{ 'module.choice'|trans }} --</option>
                        {% for sessionModule in sessionModules %}
                            <option value="">{{sessionModule.title}}</option>
                        {% endfor %}
                    </select>
                    <div class="difficult">
                        <div>
                            <input type="radio" id="Facile" name="Difficulty" value="Easy"checked>
                            <label for="Easy">{{ 'difficulty.easy'|trans }}</label>
                        </div>
                        <div>
                            <input type="radio" id="Moyen" name="Difficulty" value="Medium">
                            <label for="Medium">{{ 'difficulty.medium'|trans }}</label>
                        </div>
                        <div>
                            <input type="radio" id="Difficile" name="Difficulty" value="Difficult">
                            <label for="Difficult">{{ 'difficulty.difficult'|trans }}</label>
                        </div>
                    </div>
                    <a class="buttonValid" href="">{{ 'qcm.trainning'|trans }}</a>
                </div>
            </section>
        </article>
        <span></span>
        <article class="articleDroite">
            <section class="section">
                <h2>{{ 'qcm.dones'|trans }}</h2>
                <div class="centreRealise">
                    <p>
                        {{ 'qcm.donesExplain'|trans }}
                    </p>
                    <a class="real" href="{{ path('student_qcmsdone') }}">{{ 'qcm.dones'|trans }}</a>
                </div>
            </section>
            <section>
                <h2>{{ 'qcm.iChance'|trans }}</h2>
                <div class="centreChance">
                    <p>
                        {{ 'qcm.chanceexplain'|trans }}
                    </p>
                </div>
                <div class="divBadge">
                    <div class="lastDiv">
                        <select name="module" class="selectEntrainement">
                            <option value="">-- {{ 'module.choice'|trans }} --</option>
                            {% for retryableModule in retryableModules %}
                                <option value="">{{retryableModule.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a class="buttonBadge" href="">{{ 'module.tryAgain'|trans }}</a>
                </div>
            </section>
            <p class="lastP">
                {{ 'module.tryAgainExplain'|trans }}
            </p>
        </article>
    </div>
{% endblock %}


