{% extends 'base.html.twig' %}

{% block title %}{{ 'title.done'|trans }}{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/qcmsDone.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1>- {{ 'qcm.dones'|trans }} -</h1>
    <div class="premiereDiv">
        <div class="divBadge">
            <p>
                {{ 'qcm.official'|trans }}
            </p>
            <img class="badge" src="{{asset('build/images/officiel.png')}}">
        </div>
        <div class="divBadge">
            <p>
                {{ 'qcm.inter'|trans }}
            </p>
            <img class="badge" src="{{asset('build/images/non-officiel.png')}}">
        </div>
        <div class="divBadge">
            <p>
                {{ 'qcm.trainning'|trans }}
            </p>
            <img class="badge" src="{{asset('build/images/qcm_entrainement.png')}}">
        </div>
    </div>
    <div class="officiel">
        <div>
            <p>
                <span class="numeroForm">1</span>
                {{ 'module.filter'|trans }} :
            </p>
        </div>
        <select name="module" id="select_module">
            <option value="all">{{ 'module.filter'|trans }}</option>
            {% for module in modules %}
                <option value="module">{{module.title}}</option>
            {% endfor %}
        </select>
    </div>
    <span class="ligne"></span>
    <p>
        <span class="numeroForm">2</span>
        Qcm
    </p>

{% for qcmDone in qcmsDone %}
    <div class="realise">
        <div class="levelAndModule">
            <p class="moduleQcm">
                {{qcmDone.module}}
            </p>
            <p class="difficultyQcm">
                {% if qcmDone.qcm.difficulty is same as 1 %}
                    Facile
                {% elseif qcmDone.qcm.difficulty is same as 2 %}
                    Moyen
                {% elseif qcmDone.qcm.difficulty is same as 3 %}
                    Difficle
                {% endif %}
            </p>
        </div>
        <div>
            <p class="typeQcm">
                {% if qcmDone.type is same as 'official' %}
                    <img class="badge" src="{{asset('build/images/officiel.png')}}">
                {% elseif qcmDone.type is same as 'trainning' %}
                    <img class="badge" src="{{asset('build/images/qcm_entrainement.png')}}">
                {% elseif qcmDone.type is same as 'exercice' %}
                    <img class="badge" src="{{asset('build/images/non-officiel.png')}}">
                {% endif %}
            </p>
        </div>

        <div class="nomQcm">
            <p>
                {{ 'qcm.name'|trans }} : {{qcmDone.qcm.title}}
            </p>
        </div>
        <div class="divLevel">
            {% if qcmDone.result.score < 25 %}
                <img data-level="Découvre" src="{{asset('build/images/arbre_decouvre.png')}}" alt="Graine d'un arbre">
            {% elseif qcmDone.result.score >= 25 and qcmDone.result.score < 50 %}
                <img data-level="Explore" src="{{asset('build/images/arbre_explore.png')}}" alt="Petite pousse">
            {% elseif qcmDone.result.score >= 50 and qcmDone.result.score < 75 %}
                <img data-level="Maîtrise" src="{{asset('build/images/arbre_maitrise.png')}}" alt="Jeune arbre">
            {% elseif qcmDone.result.score >= 75 and qcmDone.result.score < 100 %}
                <img data-level="Domine" src="{{asset('build/images/arbre_domine.png')}}" alt="Bel arbre fleuri">
            {% endif %}
        </div>
        <div class="date">
            {{qcmDone.result.getSubmittedAt()|date('d/m/Y')}}
        </div>
        <div class="divButton">
            <a class="button" href="{{ path('student_qcm_correction', {result: qcmDone.result.id} ) }}">{{ 'button.viewAnswers'|trans }}</a>
            <a class="button" href="{{ path('student_retry_same_qcm', {qcm: qcmDone.qcm.id} ) }}">{{ 'button.doAgain'|trans }}</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/student/qcmsDone.js') }}"></script>
{% endblock %}