{% extends 'base.html.twig' %}

{% block title %}QCM réalisé{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/qcmsDone.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1>- QCM réalisés -</h1>
    <div class="premiereDiv">
        <div class="divBadge">
            <p>
                Officiel
            </p>
            <img class="badge" src="{{asset('build/images/officiel.png')}}">
        </div>
        <div class="divBadge">
            <p>
                Intermédiaire
            </p>
            <img class="badge" src="{{asset('build/images/non-officiel.png')}}">
        </div>
    </div>
    <div class="officiel">
        <div>
            <p>
                <span class="numeroForm">1</span>
                Filtre par module:
            </p>
        </div>
        <select name="module" id="select-module">
            <option value="">Veuillez sélectionner un module</option>
            {% for module in modules %}
                <option value="">{{module.title}}</option>
            {% endfor %}
        </select>
    </div>
    <span class="ligne"></span>
    <p>
        <span class="numeroForm">2</span>
        Qcm
    </p>
        <p id="module"></p>
    {% for qcmDone in qcmsDone %}
    <div class="realise">
        <div class="nomQcm">
            <p>
                Nom du QCM : {{qcmDone.qcm.name}}
            </p>
        </div>
        <div class="date">
            {{qcmDone.result.getCreatedAt()|date('d/m/Y')}}
        </div>
        <div class="divButton">
            <a class="button" href="">Voir les réponses</a>
            <a class="button" href="">Refaire le qcm</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/qcmsDone.js') }}"></script>
{% endblock %}