{% extends 'base.html.twig' %}

{% block title %}{{ 'title.menu'|trans }}{% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/student/studentIndex.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}


    <h1>- {{ 'qcm.title'|trans }} -</h1>
    <div class="global">
        <article class="articleGauche">
            <section>
                <div class="divQcm">
                    <h2><img class="badge" src="{{asset('build/images/officiel.png')}}">{{ 'qcm.qcmToDo'|trans }}</h2>
                    <div class="inter">
                        <p>
                            <strong>{{ 'qcm.name'|trans }} : </strong>
                            {% for qcm in qcmOfTheWeek %} {{qcm.qcm.title}} {% endfor %}
                        </p>
                        {% for qcm in qcmOfTheWeek %}
                            <a class="button" href="{{ path('student_qcm_to_do', { qcmInstance: qcm.id }) }}">{{ 'qcm.do'|trans }}</a>
                        {% endfor %}

                    </div>
                </div>
                <div class="divQcm">
                    <h2><img class="badge" src="{{asset('build/images/non-officiel.png')}}">{{ 'qcm.inter'|trans }}</h2>
                    <div id="drill_choices" class="inter">
                        <select name="qcm" class="selectEntrainement">
                            <option value="">-- {{ 'qcm.choice'|trans }} --</option>
                            {% if unofficialQcmInstancesNotDone %}
                                {% for unofficialQcmInstanceNotDone in unofficialQcmInstancesNotDone %}
                                    <option value="{{ unofficialQcmInstanceNotDone.id }}">{{unofficialQcmInstanceNotDone.qcm.title}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <button class="buttonExercice">{{ 'button.todo'|trans }}</button>
                    </div>
                </div>
            </section>
            <h2><img class="badge" src="{{asset('build/images/qcm_entrainement.png')}}">{{ 'qcm.forTraining'|trans }}</h2>
            <section class="cercle">
                <div id="training_choices" class="training">
                    <select name="module" class="selectModule">
                        <option value="">-- {{ 'module.choice'|trans }} --</option>
                        {% if sessionModules %}
                            {% for sessionModule in sessionModules %}
                                <option value="{{ sessionModule.id }}">{{sessionModule.title}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <div class="difficult">
                        <div class="difficultySubDiv">
                            <input type="radio" id="Easy" name="Difficulty" value="1" checked>
                            <label for="Easy">{{ 'difficulty.easy'|trans }}</label>
                        </div>
                        <div class="difficultySubDiv">
                            <input type="radio" id="Medium" name="Difficulty" value="2">
                            <label for="Medium">{{ 'difficulty.medium'|trans }}</label>
                        </div>
                        <div class="difficultySubDiv">
                            <input type="radio" id="Difficult" name="Difficulty" value="3">
                            <label for="Difficult">{{ 'difficulty.difficult'|trans }}</label>
                        </div>
                    </div>
                    <button class="buttonValid" >{{ 'qcm.trainning'|trans }}</button>
                    <p class="displayNone" id="errorGeneratedQcm" ></p>
                </div>
            </section>
        </article>
        <span></span>
        <article class="articleDroite">
            <section class="section">
                <h2>{{ 'qcm.dones'|trans }}</h2>
                <div class="centreRealise">
                    <p>
                        {{ 'qcm.donesExplain'|trans }}
                    </p>
                    <a class="real" href="{{ path('student_qcms_done') }}">{{ 'qcm.dones'|trans }}</a>
                </div>
            </section>
            <section>
                <h2>{{ 'qcm.iChance'|trans }}</h2>
                <div class="centreChance">
                    <p>
                        {{ 'qcm.chanceExplain'|trans }}
                    </p>
                </div>
                <div id="retry_for_badges" class="divBadge">
                    <div class="lastDiv">
                        <select name="module" class="selectEntrainement">
                            <option value="">-- {{ 'module.choice'|trans }} --</option>
                            {% if retryableModules %}
                                {% for retryableModule in retryableModules %}
                                    <option value="{{ retryableModule.id }}">{{retryableModule.title}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <button class="buttonBadge">{{ 'button.tryAgain'|trans }}</button>
                    <p class="displayNone" id="errorGeneratedQcmBadge" ></p>

                </div>
            </section>
            <p class="lastP">
                {{ 'qcm.tryAgainExplain'|trans }}
            </p>
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/student/studentQcms.js') }}"></script>
{% endblock %}