{% extends 'base.html.twig' %}



{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/home/home.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Récap des routes fonctionnelles</h1>

    <h2>Les routes</h2>
    <h3>Partie Formateur</h3>
       <ul class="ul_route_formateur">
           <li class="li_route_formateur"><a href="{{ path('instructor_display_questions') }}">Affichage des questions personalisées</a></li>
           <li class="li_route_formateur"><a href="{{ path('instructor_modify_question', {question: 1}) }}">Modification d'une question personalisée (avec l'id 1)</a></li>
           <li class="li_route_formateur"><a href="{{ path('instructor_create_question') }}">Création d'une question personalisée</a></li>
       </ul>

    <h3>Partie étudiant</h3>
        <ul class="ul_route_etudiant">
            <li class="li_route_etudiant"><a href="{{ path('app_student') }}">Gestion des qcm</a></li>
            <li class="li_route_etudiant"><a href="{{ path('student_qcmsdone') }}">Affichage des qcm fait</a></li>
            <li class="li_route_etudiant"><a href="{{ path('student_qcmToDo', {qcmInstance: 5}) }}">Qcm type à faire (Qmc avec l'id 5)</a></li>
        </ul>

    <h3>Partie Authentification</h3>
    <ul class="ul_route_etudiant">
        <li class="li_route_etudiant"><a href="{{ path('app_new_user') }}">Ajout d'un utilisateur</a></li>
        <li class="li_route_etudiant"><a href="{{ path('app_connection') }}">Page de connection</a></li>
    </ul>

    <h2>Les branches</h2>
    <ul class="ul_branch">
        <li class="li_branch">
            <p>
                Instructor
            </p>
            <div>
                <p>
                    -> InstructorDisplayQuestionCss -> InstructorDisplayQuestionCssV2 (Dorine)
                </p>
                <p>
                    -> InstructorQuestionForm (Noa)
                </p>

            </div>
        </li>
        <li class="li_branch">
            <p>
                InstructorBackUp
            </p>
            <div>
                <p>
                    -> InstructorBackupEvan -> InstructrorBackUpNoa
                </p>

            </div>

        </li>
        <li class="li_branch">
            <p>
                React-symfony
            </p>
        </li>
    </ul>
</div>
{% endblock %}
