{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/welcome_instructor.css') }}">
{% endblock %}

{% block body %}

    <h1>- Admin -</h1>
    <div class="accueilDiv">
        <div class="section sectionOne">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('admin_manage_qcms')}}" class="accueilA">{{ 'button.qcmManagement'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="section sectionTwo">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('admin_manage_questions') }}" class="accueilA">{{ 'button.questionsManagement'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="section sectionThrees">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('admin_manage_sessions') }}" class="accueilA">{{ 'button.sessionsManagement'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="section sectionFour">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('admin_manage_modules') }}" class="accueilA">{{ 'button.modulesManagement'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="section sectionFour">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('admin_manage_users') }}" class="accueilA">{{ 'button.usersManagement'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
