{% extends 'base.html.twig' %}

{% block title %}Admin | QCMs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/admin_lists.css') }}">
{% endblock %}

{% block body %}

    <main id="admin_content">

        <section>
            <h1>{{ 'title.questionsManagement'|trans }}</h1>
        </section>

        <section class="tableContainer">
            <div class="createBtnContainer">
                <a href="{{ path('instructor_create_question') }}" class="button">{{ 'question.create'|trans }}</a>
            </div>
            <table id="tableToSort" class="questionsTable">
                <thead>
                    <tr>
                        <th>{{ 'title.module'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.statement'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.difficulty'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.official'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.obligatory'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.author'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.date'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.actions'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}

                        <tr>
                            <td>{{ question.module.title }}</td>
                            <td>{{ question.wording | raw}}</td>
                            {% if question.difficulty.value == 1 %}
                                <td>Facile</td>
                            {% elseif question.difficulty.value == 2 %}
                                <td>Moyen</td>
                            {% elseif question.difficulty.value == 3 %}
                                <td>Difficile</td>
                            {% endif %}
                            <td>
                                {% if question.isOfficial %}
                                    oui
                                {% else %}
                                    non
                                {% endif %}
                            </td>
                            <td>
                                {% if question.isMandatory %}
                                    oui
                                {% else %}
                                    non
                                {% endif %}
                            </td>
                            <td>{{ question.author.firstname }} {{ question.author.lastname }}</td>
                            <td>{{ question.createdAt | date('d/m/Y') }}</td>
                            <td>
                                <a href="#" class="button">{{ 'button.stats'|trans }}</a>
                                <a href="{{ path('instructor_modify_question', {'question': question.id}) }}" class="button">{{ 'button.edit'|trans }}</a>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </section>

    </main>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/admin/tableSorter.js') }}"></script>
{% endblock %}