{% extends 'base.html.twig' %}

{% block title %}Admin | QCMs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/admin_lists.css') }}">
{% endblock %}

{% block body %}

    <main class="admin_content">

        <section>
            <h1>{{ 'title.sessionsManagement'|trans }}</h1>
        </section>

        <section class="tableContainer">
            <table id="tableToSort" class="qcmsTable">
                <thead>
                    <tr>
                        <th>{{ 'title.name'|trans }}</th>
                        <th>{{ 'title.year'|trans }}</th>
                        <th>{{ 'title.createdAd'|trans }}</th>
                        <th>{{ 'title.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in sessions %}
                    
                        <tr>
                            <td>{{ session.name }}</td>
                            <td>{{ session.schoolYear }}</td>
                            <td>{{ session.createdAt | date('d/m/Y') }}</td>
                            <td>
                                <button class="showStudentsBtn button greyButton" data-session="{{ session.id }}">{{ 'button.students'|trans }}</button>
                                <button class="showModulesBtn button greyButton" data-session="{{ session.id }}">{{ 'button.modules'|trans }}</button>
                                <a class="button greyButton" href="{{ path('admin_stats_session', { 'session': session.id } ) }}">Stats</a>
                            </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <div id="sessionStudentsModale" class="hideModale">
            <main>
                <section>
                    <button id="closeSessionStudentsBtn">X</button>
                </section>
                <secion id="sessionStudentsModaleContent">

                </secion>
            </main>
        </div>

        <div id="sessionModulesModale" class="hideModale">
            <main>
                <section>
                    <button id="closeSessionModulesBtn">X</button>
                </section>
                <secion id="sessionModulesModaleContent">
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'title.title'|trans }}</th>
                                <th>{{ 'title.from'|trans }}</th>
                                <th>{{ 'title.to'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </secion>
            </main>
        </div>

    </main>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/admin/tableSorter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/manageSessions.js') }}"></script>
{% endblock %}