{% extends 'base.html.twig' %}

{% block title %}Admin | QCMs{% endblock %}

{% block body %}

    <main>

        <section>
            <h1>Gestion des questions</h1>
        </section>

        <section>
            <a href="#">Créer une question</a>
        </section>

        <section>
            <table id="tableToSort">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Enoncé</th>
                        <th>Difficulté</th>
                        <th>Officielle</th>
                        <th>Obligatoire</th>
                        <th>Auteur</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}

                        <tr>
                            <td>{{ question.module.title }}</td>
                            <td>{{ question.wording | raw}}</td>
                            <td>{{ question.difficulty.value }}</td>
                            <td>
                                {% if question.isOfficial %}
                                    oui
                                {% else %}
                                    non
                                {% endif %}
                            </td>
                            <td>
                                {% if question.isMandatory %}
                                    oui
                                {% else %}
                                    non
                                {% endif %}
                            </td>
                            <td>{{ question.author.firstname }} {{ question.author.lastname }}</td>
                            <td>{{ question.createdAt | date('d/m/Y') }}</td>
                            <td>
                                <a href="#">Stats</a>
                                <a href="#">Editer</a>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </section>

    </main>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/admin/tableSorter.js') }}"></script>
{% endblock %}