{% extends 'base.html.twig' %}

{% block title %}Admin | QCMs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/admin_lists.css') }}">
{% endblock %}

{% block body %}

    <main class="admin_content">

        <section>
            <h1>{{ 'title.usersManagement'|trans }}</h1>
        </section>

        <section class="tableContainer">
{#            <div class="createBtnContainer">#}
{#                <a href="{{ path('') }}" class="greenButton">Ajouter un utilisateur</a>#}
{#            </div>#}
            <table id="tableToSort" class="qcmsTable">
                <thead>
                    <tr>
                        <th>{{ 'title.users'|trans }} <img src="{{asset('build/images/chevron_bas.png')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.3waMail'|trans }} <img src="{{asset('build/images/chevron_bas.png')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.role'|trans }} <img src="{{asset('build/images/chevron_bas.png')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.registerSince'|trans }} <img src="{{asset('build/images/chevron_bas.png')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.actions'|trans }} <img src="{{asset('build/images/chevron_bas.png')}}" alt="chevron" class="chevron"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    
                        <tr>
                            <td>{{ user.firstname }} {{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% if 'ROLE_ADMIN' in user.roles %}
                                    Admin
                                {% elseif 'ROLE_INSTRUCTOR' in user.roles %}
                                    Formateur {# {% if user.isReferent %} Référent {% endif %} #}
                                {% else %}
                                   Etudiant {# ( {{ user.getLinksSessionStudent()[0].session.name }} ) #}
                                {% endif %}
                            </td>
                            <td>{{ user.createdAt | date('d/m/Y') }}</td>
                            <td>
                                <button class="userDetailsBtn button greyButton" data-user="{{ user.id }}">{{ 'button.details'|trans }}</button>
                                <button class="editRoleBtn button greyButton" data-user="{{ user.id }}" data-role="{{ user.roles[0] }}">{{ 'button.changeRole'|trans }}</button>
                                {% if 'ROLE_INSTRUCTOR' in user.roles %}
                                    <a class="button greyButton" href="{{ path( 'admin_stats_instructor', {'instructor': user.id} ) }}">{{ 'button.stats'|trans }}</a>
                                {% elseif 'ROLE_STUDENT' in user.roles %}
                                    <a class="button greyButton" href="{{ path( 'admin_stats_student', {'student': user.id} ) }}">{{ 'button.stats'|trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <div id="roleUpdaterModale" class="hideModale">
            <main>
                <select id="roleChoice">
                    <option value="ROLE_STUDENT">{{ 'title.student'|trans }}</option>
                    <option value="ROLE_INSTRUCTOR">{{ 'title.instructor'|trans }}</option>
                    <option value="ROLE_ADMIN">{{ 'title.admin'|trans }}</option>
                </select>
                <p>
                    <button id="roleUpdaterModalCloseBtn">
                        {{ 'button.cancel'|trans }}
                    </button>
                    <button id="updateRoleBtn" data-user="" data-role="">{{ 'button.validate'|trans }}</button>
                </p>
            </main>
        </div>

        <div id="userDetailsModale" class="hideModale">
            <main>
                <section>
                    <button id="closeUserDetailsBtn">X</button>
                </section>
                <secion id="userDetailsModaleContent">

                </secion>
            </main>
        </div>

    </main>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/admin/tableSorter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/admin/manageUser.js') }}"></script>
{% endblock %}