{% extends 'base.html.twig' %}

{% block title %}Admin | QCMs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/admin_lists.css') }}">
{% endblock %}

{% block body %}

    <main class="admin_content">

        <section>
            <h1>{{ 'button.qcmManagement'|trans }}</h1>
        </section>

        <section class="tableContainer">
            <div class="createBtnContainer">
                <a href="{{ path('instructor_create_qcm_perso') }}" class="showStudentsBtn button greyButton">{{ 'button.createQcm'|trans }}</a>
            </div>
            <table id="tableToSort" class="qcmsTable">
                <thead>
                    <tr>
                        <th>{{ 'title.title'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.author'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.difficulty'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>{{ 'title.date'|trans }} <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>Type <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                        <th>Module <img src="{{asset('build/images/chevron_bas.svg')}}" alt="chevron" class="chevron"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for qcm in qcms %}
                        <tr>
                            <td>{{ qcm.title }}</td>
                            <td>{{ qcm.author.firstname }} {{ qcm.author.lastname }}</td>
                            {% if qcm.difficulty == 1 %}
                            <td>Facile</td>
                            {% elseif qcm.difficulty == 2 %}
                            <td>Moyen</td>
                            {% elseif qcm.difficulty == 3 %}
                            <td>Difficile</td>
                            {% endif %}
                            <td>{{ qcm.createdAt | date('d/m/Y') }}</td>
                            {% if qcm.isOfficial == 0 and qcm.isEnabled == 1 and qcm.isPublic == 0 %}
                                <td>{{ 'qcm.trainning'|trans }}</td>
                            {% elseif qcm.isOfficial == 1 and qcm.isEnabled == 1 and qcm.isPublic == 1  %}
                                <td>{{ 'qcm.official'|trans }}</td>
                            {% elseif qcm.isOfficial == 0 and qcm.isEnabled == 1 %}
                                <td>{{ 'qcm.inter'|trans }}</td>
                            {% elseif qcm.isEnabled == 0 %}
                                <td>{{ 'qcm.unactivated'|trans }}</td>
                            {% else %}
                                <td>{{ 'qcm.errorType'|trans }}</td>
                            {% endif %}
                            <td>{{qcm.module.title}}</td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </section>

    </main>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/admin/tableSorter.js') }}"></script>
{% endblock %}