{% extends 'base.html.twig' %}

{% block title %}Admin | QCMs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/admin_lists.css') }}">
{% endblock %}

{% block body %}

    <main class="admin_content">

        <section>
            <h1>{{ 'title.modulesManagement'|trans }}</h1>
        </section>

        <section class="tableContainer">
            <table id="tableToSort" class="qcmsTable">
                <thead>
                    <tr>
                        <th>{{ 'title.name'|trans }}</th>
                        <th>{{ 'title.duration'|trans }}</th>
                        <th>{{ 'title.createdAt'|trans }}</th>
                        <th>{{ 'title.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in modules %}

                        <tr>
                            <td>{{ module.title }}</td>
                            <td>{{ module.weeks }}</td>
                            <td>{{ module.createdAt | date('d/m/Y') }}</td>
                            <td>
                                <a class="showStudentsBtn button greyButton" href="#">{{ 'button.edit'|trans }}</a>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </section>

    </main>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/admin/tableSorter.js') }}"></script>
{% endblock %}