
{% block stylesheets %}
    <link href="{{asset('css/error.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}
    <header>
        <img src="{{asset('build/images/logo_officiel.png')}}" alt="logo youup">
        <img src="{{asset('build/images/oiseau.png')}}" alt="oiseau" class="oiseau">
        <img src="{{asset('build/images/champi.png')}}" alt="champi" class="champi">
        <img src="{{asset('build/images/logo.png')}}" alt="logo" class="logo">
    </header>


    <div>
        <p class="php">PHP</p>
        <p class="js">JS</p>
    </div>
    <div>
        <p class="python">PYTHON</p>
        <p class="react">REACT</p>
    </div>
    <div>
        <p class="node">Node JS</p>
        <p class="cPlus">C++</p>
        <p class="css">CSS</p>
    </div>
    <div class="erreur">
        <p>Erreur</p>
    </div>
    <div class="fourZeroFour">
        <p>404</p>
    </div>
        <div>
            {% if "ROLE_ADMIN" in app.user.roles %}
                <a href="{{ path('app_admin') }}" class="return">Retour à l'accueil</a>
            {% elseif "ROLE_INSTRUCTOR" in app.user.roles  %}
                <a href="{{ path('welcome_instructor') }}" class="return">Retour à l'accueil</a>
            {% elseif "ROLE_STUDENT" in app.user.roles  %}
                <a href="{{ path('student_qcms') }}" class="return">Retour à l'accueil</a>
            {%else%}
                <a href="{{ path('app_connection') }}" class="return">Retour à l'accueil</a>
            {% endif %}
        </div>
    <div>
        <img src="" alt="">
        <img src="" alt="">
    </div>
{% endblock %}