{# {% extends 'base.html.twig' %} #}

{% block stylesheets %}
    {# <link href="{{asset('build/app.css')}}" rel="stylesheet"> #}
    <link href="{{asset('css/instructor/create_qcm.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

     
<div class="container_create_qcm">
  <nav class="create_qcm">
    <div>ici logo</div>
    <ul class="list_buttons_nav">
      <Li>Créer un qcm</Li>
      <Li>Mon planning</Li>
      <Li>Tableau de bord</Li>
      <Li>Gestion qcm</Li>
    </ul>
    
  </nav>
  <main class="content_qcm_creation">
    <p class="step_one"><span>Etape 1</span>Choix du qcm par module et par niveau</p>
    <form method="GET" action="{{path('instructor_create_qcm')}}">
    <div class="bloc_choice_session_and_module">
    
      <ul class="list_sessions">
      {# Input caché pour permettre d'envoyer les données du li dans le form au clic  voir script
         au clic id est envoyé dans le value du input 
       #}
        <input type="hidden" value="{{sessions[0].id}}"  name="session" >
        {% for session in sessions %}
    
        <li data-session-id="{{session.id}}">{{session.name}}</li>
 
        {% endfor %}
      </ul>
      
    </div>
    <p class="step_two"><span>Etape 2</span>choix du module</p>
    <div class="select_module">
        <select name="module" id="module">
         {% for module in modules %}
          <option value="{{module.id}}">{{module.title}}</option>
          {% endfor %}
        </select>
      </div>
    <p class="step_three"><span>Etape 3</span>valider</p>
    <div class="bloc_generate_qcm">
      <button type="submit">Générer un qcm</button>
    </div>
    </form>
  </main>
</div>
{% block javascripts %}
{# temporaire #}
    <script>
    window.onload = function (event) {
      // querySelectorAll -> si plusieurs input
         let sessionInput = document.querySelector(".list_sessions input");
         let sessionLiAll = document.querySelectorAll(".list_sessions li ");

         for(let forSessionLi = 0; forSessionLi < sessionLiAll.length ; forSessionLi++){
           sessionLiAll[forSessionLi].addEventListener("click",function(e){
             let sessionLiId= this.dataset.sessionId;
             sessionInput.value=`${sessionLiId}`
           })
         }
       

      
    }
    </script>
 
{% endblock %}
{% endblock %}