{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/create_qcm_perso.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}Hello InstructorController!{% endblock %}

{% block body %}
    {% set count = 0 %}
    {% set letters = ["A", "B", "C", "D", "E", "F"] %}

    <h1>- {{ 'title.createCustomQcm'|trans }} -</h1>


    <div class="partOne">

        <p><span class="etape">{{ 'title.step1'|trans }}</span>{{ 'qcm.chooseQcmModuleLevel'|trans }}</p>

        {# form -> id : user.id => temporaire /// voir controller + var #}
        {#  <form action="{{ path('instructor_create_qcm_perso',{ 'id': user}) }}" method="GET">
            <select class="selectModule" name="module">
                    <option value="null">{{ 'module.plsChoice'|trans }}</option>
                {% for module in modules %}
                    <option value="{{ module.id }}">{{ module.title }}</option>
                {% endfor %}
            </select>
            <button class="button greyButton" id="btnShowQcm" type="submit" >{{ 'button.generateQcm'|trans }}</button>
        </form>#}
        <form action="{{ path('instructor_create_qcm_perso') }}" method="GET">
        {# {{dump(modules[0].id)}} #}
            <div  class="select_option_choice_module">
               <select class="selectModule" name="module" >
                {% for module in modules %}
                    <option value="null">Veuillez choisir un module</option>
                    <option value="{{module.id}}" >{{ module.title }}</option>
                {% endfor %}
            </select>
            </div>

            <div class="choice_difficulties_and_type_of_qcm">
                <div class="bloc_choice_difficulties">
                        <div class="bloc_border_choice_difficulties">
                        <ul class="list_choice_difficulties">
                         {# {% for qcmLevel in qcmsLevel %}
                             <input type="hidden" value="{{qcmLevel[0].difficulty}}"  name="qcm['difficulty]">
                         {% endfor %} #}

                            <input type="hidden" value="{{qcmsLevel == null ? qcmsLevel: qcmsLevel[0]}}" >
                            
                            <li {% if qcmsLevel == null %} data-difficulty-easy="null" {% elseif qcmsLevel[0]== 1 %} data-difficulty-easy="{{qcmsLevel[0]}}"  class='colorDifficulty'{% endif %}>Facile </li>
                            <li {% if qcmsLevel == null %} data-difficulty-easy="null" {% elseif qcmsLevel[0]== 2 %} data-difficulty-easy="{{qcmsLevel[0]}}"  class='colorDifficulty'{% endif %}> Moyen</li>
                            <li{% if qcmsLevel == null %} data-difficulty-easy="null" {% elseif qcmsLevel[0]== 3 %} data-difficulty-easy="{{qcmsLevel[0]}}"  class='colorDifficulty'{% endif %}>Difficile</li>

                        </ul>
                        </div>
                </div>
                <div class="choice_type_of_qcm">
                    <ul class="list_type_of_qcm">
                        <li><button class="qcmOfficial" type="submit" >{{'button.generateQcmOfficial'|trans}}</button> </li>
                        <li><button class="buttonGenerate" type="submit" >{{'button.generateQcmPersonalised'|trans}}</button></li>
                    </ul>
                </div>
            </div>

        </form>
 {# {{dump(app.request.query)}} #}
         <hr>



         <p><span class="etape">{{ 'title.step2'|trans }}</span>{{ 'title.qcmChoosed'|trans }}</p>

        <div class="showQcm">
            <button class="btnShowQcm">{{ 'button.seeQcm'|trans }}</button>
            <div class="backWhite">
              {% if generatedQcm is not null %}
                <ul>
                    {% for question in generatedQcm.questionsCache %}
                        {% set count = count + 1 %}
                        <li class="questionLi">
                            <div class="questionWordingDiv">
                                <p class="questionWordingP">
                                    <span class="numeroForm">{{ count }}</span>{{question.wording | raw }}
                                </p>
                                <p class="chevronBasP">
                                    <img src="{{asset('build/images/chevron_bas.png')}}" alt="Chevron ouvrant" class="chevronBasImg chevron">
                                </p>
                            </div>
                            <div class="proposalWordingDiv">

                                {% set countLetter = 0 %}
                                {% for proposal in question.proposals %}
                                    <p class="proposalWordingP"><span class="numeroProp">{{ letters[countLetter] }}</span>
                                        {{ proposal.wording | raw }}
                                    </p>
                                    {% set countLetter = countLetter + 1 %}
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <div class="contentPartTwo">
        <hr>
        <p class="pStepThree"><span class="etape">{{'title.step3'|trans }}</span>{{ 'title.qcmPersonalized'|trans }}</p>

        <div class="btnToggle">
            <button class="btnCustom">{{ 'button.personalized'|trans }}</button>
        </div>

        <div class="partTwo">
            {#*************************************************************************************************#}
            {#LEGEND#}
            <div class="legends">

                <p>{{ 'title.levelByQuestionDifficulty'|trans }}</p>
                <div class="contentExplicationAndLegend">
                    <button>{{ 'button.explanation'|trans }}</button>


                    <div class="legendDifficultyDiv">
                        <div class="legendDifficultyContainerDiv">
                            <div class="legendDifficultyDecoDiv">
                                <div class="legendDifficultyDecoSubDiv">
                                    <div>
                                        {{ 'difficulty.easy'|trans }}
                                    </div>
                                    <img src="{{asset('build/images/trefle_facile_bon_vert.png')}}" alt="Trèfle à trois feuilles">
                                </div>
                                <div class="legendDifficultyNbr">
                                    : <p class="nbrQuestion" id="easy" >5</p>
                                </div>
                            </div>

                            <div class="legendDifficultyDecoDiv">
                                <div class="legendDifficultyDecoSubDiv">
                                    <div>
                                        {{ 'difficulty.medium'|trans }}
                                    </div>
                                    <img src="{{asset('build/images/trefle_moyen_bon_vert.png')}}" alt="Trèfle à trois feuilles">
                                </div>
                                <div class="legendDifficultyNbr" >
                                    : <p class="nbrQuestion" id="medium" >5</p>
                                </div>
                            </div>
                            <div class="legendDifficultyDecoDiv">
                                <div class="legendDifficultyDecoSubDiv">
                                    <div>
                                        {{ 'difficulty.difficult'|trans }}
                                    </div>
                                    <img src="{{asset('build/images/trefle_difficile_bon_vert.png')}}" alt="Trèfle à trois feuilles">
                                </div>
                                <div class="legendDifficultyNbr" >
                                    : <p class="nbrQuestion" id="difficulty" >5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#*************************************************************************************************#}
            {#DRAG AND DROP#}
            <div class="dragAndDrop">
                {#*************************************************************************************************#}
                {#QCM CHOICED #}
                <div class="qcmChoised">
                    <div class="qcmChoisedSubDiv">
                        <div class="blocQcmChoisedLevel">
                            <div class="qcmChoisedLegend">
                                {{'qcm.choiced'|trans}}
                                <div class="qcmChoisedLevel" id="qcmChoisedLevel">
                                    Facile
                                </div>
                            </div>
                        </div>
                        <div class="qcmChoisedMain">
                            <ul>
                                {% for question in generatedQcm.questionsCache %}
                                    <li class="qcmChoisedLi"  draggable="true">
                                        <div class="qcmChoisedLiDiv">
                                            <div class="questionWordingDiv qcmChoisedQuestionWordingDiv">
                                                <p class="qcmChoisedTreffleP">
                                                {% if question.difficulty == 1 %}
                                                    <img src="{{asset('build/images/trefle_facile_bon_vert.png')}}" alt="Trèfle à trois feuilles" class="qcmChoisedTrefle" data-level="easy">
                                                {% elseif question.difficulty.value == 2 %}
                                                    <img src="{{asset('build/images/trefle_moyen_bon_vert.png')}}" alt="Trèfle à quatre feuilles" class="qcmChoisedTrefle" data-level="medium">
                                                {% else %}
                                                    <img src="{{asset('build/images/trefle_difficile_bon_vert.png')}}" alt="Trèfle à quatre feuilles" class="qcmChoisedTrefle" data-level="difficult">
                                                {% endif %}
                                                </p>
                                                <p class="qcmChoisedQuestionWordingP questionWordingP" data-id = {{ question.id }} >
                                                   <span></span>   {{ question.wording | raw }}
                                                </p>
                                                <p class="qcmChoisedchevronBasP">
                                                    <img src="{{asset('build/images/chevron_bas.png')}}" alt="Chevron ouvrant" class="qcmChoisedchevronBasImg chevron">
                                                </p>
                                            </div>
                                            <div class="qcmChoisedProposalWordingDiv proposalWordingDiv">
                                                {% set countLetter = 0 %}
                                                {% for proposal in question.proposals %}
                                                    <div class="qcmChoisedProposalWordingP proposalWordingP">
                                                        <span class="numeroProp nPropPartTwo">{{ letters[countLetter] }}</span>
                                                        {{ proposal.wording | raw }}
                                                    </div>
                                                    {% set countLetter = countLetter + 1 %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {#*************************************************************************************************#}
                    {#Image drag and drop #}

                    <div class="imageDragAndDrop">
                        <img src="{{ asset('build/images/arrow-right-grey.png') }}" alt="Flèche arrondie verte" class="arrowRight">
                        <img src="{{ asset('build/images/arrow-left-grey.png') }}" alt="Flèche arrondie verte" class="arrowLeft">
                    </div>

                    {#*************************************************************************************************#}
                    {#LIST OF QUESTION #}
                    <div class="listQuestionTypedDiv">
                        <div class="btnChoiseQuestionType">

                            <button class="btnQuestionsOfficial">{{'button.myQcmsExercice'|trans}} : {{officialQuestions|count}}</button>
                           
                            <button class="btnQuestionsPerso" > {{'button.myQuestionsCustom'|trans}} </button>

                        </div>
                        {#*************************************************************************************************#}
                        {#OFFICIAL #}
                        <div class="questionsOfficial">

                            <ul>
                            {# {{dump(qcmInstancesByQuestion)}} #}
                                {% for question in officialQuestions %}
                                     {# {{dump(question)}} #}
                                    <li class="officialQuestionLi" draggable="true">
                                        <div class="OfficialQuestionWordingDiv questionWordingDiv ">
                                            <div class="qcmChoisedTreffleP">
                                                {% if question.difficulty == 1 %}
                                                    <img src="{{asset('build/images/trefle_facile_bon_vert.png')}}" alt="Trèfle à trois feuilles" class="qcmChoisedTrefle" data-level="easy">
                                                {% elseif question.difficulty.value == 2 %}
                                                    <img src="{{asset('build/images/trefle_moyen_bon_vert.png')}}" alt="Trèfle à quatre feuilles" class="qcmChoisedTrefle" data-level="medium">
                                                {% else %}
                                                    <img src="{{asset('build/images/trefle_difficile_bon_vert.png')}}" alt="Trèfle à quatre feuilles" class="qcmChoisedTrefle" data-level="difficult">
                                                {% endif %}
                                            </div>
                                            <div class="officialQuestionWordingP questionWordingP" data-id="{{question.id}}">
                                              <span></span>   {{ question.wording | raw }}
                                            </div>
                                            <div class="officialChevronBasP chevronBasP">
                                                <img src="{{asset('build/images/chevron_bas.png')}}" alt="Chevron ouvrant" class="officialChevronBasImg chevronBasImg chevron">
                                            </div>
                                            {# modif #}

                                            <div class="modifyQuestionImgDiv ">

                                                {% if qcmInstancesByQuestion[question.id] == 0 %}
                                                    <img src="{{asset('build/images/edit.png')}}" alt="bouton modifier" class="modifyQuestionImg" >
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div>
                                        
                                            <div class="OfficialProposalWordingDiv proposalWordingDiv">

                                                <p class="responselabel">Les réponses</p>
                                                {% set countLetter = 0 %}
                                                {% for proposal in question.proposals %}
                                                   
                                                    <p class =" officialProposalWordingP proposalWordingP " data-status="{{proposal.isCorrectAnswer|number_format }}" data-id="{{proposal.id}}" >
                                                        <span class="numeroProp nPropPartTwo">{{ letters[countLetter] }}</span><span class="spanWording" >{{ proposal.wording | raw }} </span>
                                                    </p>
                                                    
                                                    {% set countLetter = countLetter + 1 %}
                                                {% endfor %}
                                                <div class="questionModify">
                                                    <button class="save">{{ 'button.register'|trans }}</button>
                                                </div>
                                            </div>

                                        </div>

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {#*************************************************************************************************#}
                        {#CUSTOM #}
                         <div class="questionsCustom">
                        
                            <ul>
                                {% for question in customQuestions %}
                                    <li class="officialQuestionLi" draggable="true">
                                        <div class="OfficialQuestionWordingDiv questionWordingDiv ">
                                            <div class="qcmChoisedTreffleP">
                                                {% if question.difficulty == 1 %}
                                                    <img src="{{asset('build/images/trefle_facile_bon_vert.png')}}" alt="Trèfle à trois feuilles" class="qcmChoisedTrefle" data-level="easy">
                                                {% elseif question.difficulty.value == 2 %}
                                                    <img src="{{asset('build/images/trefle_moyen_bon_vert.png')}}" alt="Trèfle à quatre feuilles" class="qcmChoisedTrefle" data-level="medium">
                                                {% else %}
                                                    <img src="{{asset('build/images/trefle_difficile_bon_vert.png')}}" alt="Trèfle à quatre feuilles" class="qcmChoisedTrefle" data-level="difficult">
                                                {% endif %}
                                            </div>
                                            <div class="officialQuestionWordingP questionWordingP" data-id="{{question.id}}">
                                              <span></span>   {{ question.wording | raw }}
                                            </div>
                                            <div class="officialChevronBasP chevronBasP">
                                                <img src="{{asset('build/images/chevron_bas.png')}}" alt="Chevron ouvrant" class="officialChevronBasImg chevronBasImg chevron">
                                            </div>
                                            
                                            <div class="modifyQuestionImgDiv ">
                                             {% if qcmInstancesByQuestion[question.id] == 0 %}
                                                <img src="{{asset('build/images/edit.png')}}" alt="bouton modifier" class="modifyQuestionImg">
                                             {% endif %} 
                                            </div>
                                        </div>
                                        <div>

                                            <div class="OfficialProposalWordingDiv proposalWordingDiv">
                                                {% set countLetter = 0 %}
                                                {% for proposal in question.proposals %}
                                                
                                                    <p class="officialProposalWordingP proposalWordingP " data-id="{{proposal.id}}" >
                                                        <span class="numeroProp nPropPartTwo">{{ letters[countLetter] }}</span><span class="spanWording" >{{ proposal.wording | raw }}</span>
                                                    </p>
                                                    {% set countLetter = countLetter + 1 %}
                                                {% endfor %}
                                                <div class="questionModify">
                                                    <button class="save">{{ 'button.register'|trans }}</button>
                                                </div>
                                            </div>

                                        </div>

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        {#*************************************************************************************************#}
                        {#BUTTON CREATE QUESTION #}
                        <div class="createQuestion">
                            <button >{{ 'button.createQuestion'|trans }}</button>
                        </div>
                    </div>



            </div>
            <p class="pStepFour"><span class="etape">{{ 'title.step4'|trans }}</span> {{ 'title.qcmPersonalizedTitle'|trans }}</p>
            <div class="blocBeforeValidation">
                    {#*************************************************************************************************#}
                    {#NAME#}
                 <div class="qcmName">
                      <input type="text" placeholder="Veuillez indiquer un nom pour le qcm" class="qcmNameInput" data-module="{{generatedQcm.module.id}}">
                 </div>

                 <div class="isPublic">
                     <label for=""> {{ 'title.qcmUseByOtherTeacher'|trans }} </label>
                     <input type="checkbox"  id="isPublicInput" >
                 </div>
            </div>
            <div class="qcmValidation">
                <button>{{ 'button.validPersonalizedQcm'|trans }}</button>
            </div>

            {% endif %}
        </div>
   </div>

{% endblock %}
{% block javascripts %}
    <script>
        let chevronHaut = "{{asset('build/images/chevron_haut.png')}}"
        let chevronBas = "{{asset('build/images/chevron_bas.png')}}"
        let deleteImg = "{{asset('build/images/delete_close.png')}}"
      {#  let qcmInstanceQuestions= {{ qcmInstanceQuestionsCache|json_encode }}#}

        let route = "{{ path('instructor_questions_update_fetch') }}"
          {#id : user.id => temporaire /// voir controller + var #}
        let routeInstructorQcmFetch = "{{ path('instructor_qcm_create_fetch' ) }}"

        {#let questions = {{ questions|json_encode }}#}
    </script>
    <script type="text/javascript" src="{{ asset('js/instructor/create_qcm_perso.js') }}"></script>
{% endblock %}