{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/create_qcm_perso.css')}}" rel="stylesheet">
{% endblock %}

{% block title %} Créer un qcm d"exercice {% endblock %}

{% block body %}
    {% set count = 0 %}
    {% set letters = ["A", "B", "C", "D", "E", "F"] %}



    <h1>- {{ 'title.createCustomQcm'|trans }} -</h1>

    <section class="contentPartOne">
        <p><span class="step">{{ 'title.step1'|trans }}</span>{{ 'qcm.chooseQcmModuleLevel'|trans }}</p>
        <main>
            <div class="selectOptionChoiceModule">
                <select  id="moduleOption" class="selectVarFond" name="module" >
                    <option  value="null">{{ 'module.moduleChoice'|trans }}</option>
                    {% for module in modules %}
                        <option value="{{module.id}}">{{ module.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="choiceDifficultiesAndTypeOfQcm">
                <div class="blocChoiceDifficulties">
                    <div class="blocBorderChoiceDifficulties">
                        <ul id="difficultyOption" class="listChoiceDifficulties">
                            <li data-difficulty="1" >{{ 'difficulty.easy'|trans }} </li>
                            <li data-difficulty="2" >{{ 'difficulty.medium'|trans }}</li>
                            <li data-difficulty="3" >{{ 'difficulty.difficult'|trans }} </li>
                        </ul>
                    </div>
                </div>
                <div class="choiceTypeOfQcm">
                    <button id="generateQcmButton" class="button mediumButton">{{'button.generateQcmPersonalised'|trans}}</button>
                </div>
            </div>
            <p id="generationError" class="pRandomFetch displayNone" ></p>
        </main>
    </section>
    <section id="generatedQcmResumeBlock" class="contentPartThree displayNone">
        <p><span class="step">{{ 'title.step2'|trans }}</span>{{ 'title.qcmChoosed'|trans }}</p>
        <main class="showQcm">
            <button id="showGeneratedQcmResumeButton" class="button mediumButton">{{ 'button.hideQuestions'|trans }}</button>
            <div class="divOptions">
                <button id="personalizeQcmButton" class="button" > {{ 'button.personalizeQcm'|trans }} </button>
                <button id="validateQcmButtonWhitoutChange" class="button" > {{ 'button.validQcm'|trans }} </button>
            </div>
            <div id="containerQuestionsList" class="backWhite">
                <ul class="ulQcm">

                </ul>
            </div>
        </main>
    </section>

    <section id="personalizeQcmBlock" class="contentPartThree displayNone">
        <p class="pStepThree"><span class="step">{{'title.step3'|trans }}</span>{{ 'title.qcmPersonalized'|trans }}</p>
        <div class="btnToggle">
            <button id="qcmPersonalizerButtonShow" class="btnCustom">{{ 'button.hideQcmPersonalizer'|trans }}</button>
        </div>
        <main id="containerQcmPersonalizer" class="partTwo">

            {#*************************************************************************************************#}
            {#LEGEND#}
            <div class="legends">
                <p>{{ 'title.levelByQuestionDifficulty'|trans }}</p>
                <div class="contentExplicationAndLegend">
                    <button id="showModalExplanationBtn">{{ 'button.explanation'|trans }}</button>
                    <div class="legendDifficultyDiv">
                        <div class="legendDifficultyContainerDiv">
                            <div class="legendDifficultyDecoDiv">
                                <div class="legendDifficultyDecoSubDiv">
                                    <div>
                                        {{ 'difficulty.easy'|trans }}
                                    </div>
                                    <img src="{{asset('build/images/trefle_facile_bon_vert.png')}}" alt="Trèfle à trois feuilles">
                                </div>
                                <div class="legendDifficultyNbr">
                                    : <p class="nbrQuestion" id="easy" ></p>
                                </div>
                            </div>
                            <div class="legendDifficultyDecoDiv">
                                <div class="legendDifficultyDecoSubDiv">
                                    <div>
                                        {{ 'difficulty.medium'|trans }}
                                    </div>
                                    <img src="{{asset('build/images/trefle_moyen_bon_vert.png')}}" alt="Trèfle à trois feuilles">
                                </div>
                                <div class="legendDifficultyNbr" >
                                    : <p class="nbrQuestion" id="medium" ></p>
                                </div>
                            </div>
                            <div class="legendDifficultyDecoDiv">
                                <div class="legendDifficultyDecoSubDiv">
                                    <div>
                                        {{ 'difficulty.difficult'|trans }}
                                    </div>
                                    <img src="{{asset('build/images/trefle_difficile_bon_vert.png')}}" alt="Trèfle à trois feuilles">
                                </div>
                                <div class="legendDifficultyNbr" >
                                    : <p class="nbrQuestion" id="difficulty" ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#*************************************************************************************************#}
            {#DRAG AND DROP#}
            <section class="dragAndDrop">
                {#*************************************************************************************************#}
                {#QCM CHOICED #}
                <div class="qcmChoised">
                    <div class="qcmChoisedSubDiv">
                        <div class="blocQcmChoisedLevel">
                            <div class="qcmChoisedLegend">
                                {{'qcm.choiced'|trans}}
                                <div class="qcmChoisedLevel" id="qcmChoisedLevel">
                                    Facile
                                </div>
                            </div>
                        </div>
                        <div class="qcmChoisedMain">
                            <ul class="questionList" id="pickedQuestionsList">

                            </ul>
                        </div>
                    </div>
                </div>
                {#*************************************************************************************************#}
                {#Image drag and drop #}

                <div class="imageDragAndDrop">
                  <div> 
                    <img id="moveToPickedQuestionsList" src="{{ asset('build/images/drag_and_drop.png') }}" alt="Flèche arrondie verte" class="arrowRight">
                 </div>
                  <div>  
                    <img id="moveToPickableQuestionsList" src="{{ asset('build/images/drag_and_drop.png') }}" alt="Flèche arrondie verte" class="arrowLeft">
                  </div>
                </div>

                {#*************************************************************************************************#}
                {#LIST OF QUESTION #}
                <div class="listQuestionTypedDiv">
                    <div class="btnChoiseQuestionType">

                        <button id="pickableOfficialQuestionsBnt" class="btnQuestionsActive, btnQuestions">{{'button.officialQuestions'|trans}} </button>

                        <button id="pickableCustomQuestionsBnt" class="btnQuestions" > {{'button.myQuestionsCustom'|trans}} </button>

                    </div>
                    {#*************************************************************************************************#}
                    {#OFFICIAL #}
                    <div class="questionsOfficial">
                        <ul class="questionList" id="pickableOfficialQuestionsList">


                        </ul>
                    </div>
                    {#*************************************************************************************************#}
                    {#CUSTOM #}
                    <div class="questionsCustom displayNone">
                        <ul class="questionList" id="pickableCustomQuestionsList">

                        </ul>
                    </div>

                    {#*************************************************************************************************#}
                    {#BUTTON CREATE QUESTION #}
                    <div class="createQuestion">
                        <button >{{ 'button.createQuestion'|trans }}</button>
                    </div>
                </div>
            </section>

            <p class="pStepFour"><span class="step">{{ 'title.step4'|trans }}</span> {{ 'title.qcmPersonalizedTitle'|trans }}</p>
            <div class="blocBeforeValidation">
                    {#*************************************************************************************************#}
                    {#NAME#}
                 <div class="qcmName">
                       <input id="choosenQcmName" type="text" placeholder="Veuillez indiquer un nom pour le qcm" class="qcmNameInput">
                        <p id="errorMessageChoseNameQcm"></p>
                 </div>

                 <div class="isPublic">
                     <label for=""> {{ 'title.qcmUseByOtherTeacher'|trans }} </label>
                     <input type="checkbox"  id="isPublicInput" >
                 </div>
            </div>
            <div id="validationCreationQcmBnt" class="qcmValidation">
                <button>{{ 'button.validPersonalizedQcm'|trans }}</button>
            </div>

            {# {% endif %} #}
        </main>
    </section>

{#    ********************************************************************************************************************#}
{#    Modal Explanation#}

    <div class="blocModalExplaination">
        <div class="modal">
            <img src="{{asset('build/images/delete_close.png')}}" alt="close" srcset="">
            <div>
                <p class="pTitle">- {{ 'title.modifyQcm'|trans }} -</p>
                <div>
                    <p class="notice">
                        <img src="{{asset('build/images/feuille_logo_icon.png')}}" alt="rappel" srcset="">
                        <span>{{ 'title.reminder'|trans }}</span> <br/><br/>
                        {{ 'title.reminderText'|trans }} <br/>
                        {{ 'title.reminderText2'|trans }}
                    </p>
                    <p class="rules">
                        {{ 'title.ruleExplaination'|trans }}
                    <p>
                </div>
            </div>
            <div>
                <p class="pTitle">- {{ 'title.example'|trans }} -</p>

                <div>
                    <div>
                        <p>Chaque difficulté a un poids</p>
                        <p>
                            facile = 1, moyen = 2, difficile = 3
                        </p>
                    </div>
                    <div>
                        <p>Prenons l'exemple suivant :</p>
                        <p>
                            7 questions faciles, 5 questions moyennes, 4 questions  difficiles
                        </p>
                    </div>

                    <p>
                        Calculs : Facile = (7*1 = 7) | Moyen = (5*2 = 10) | Difficile = (4*3 = 12)
                    </p>
                    <p>
                        Le niveau du QCM sera difficile
                    </p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        let chevronHaut = "/build/images/chevron_haut.acd8ac5d.svg"
        let chevronBas = "/build/images/chevron_bas.216a40a5.svg"
        let deleteImg = "/build/images/delete_close.d95f0f41.svg"
    </script>
    <script type="text/javascript" src="{{ asset('js/instructor/create_qcm_perso.js') }}"></script>
{% endblock %}