{% extends 'base.html.twig' %}



{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/create_question.css')}}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {# Import jquery #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    {# Fichier js pour faire apparaitre les inputs du collectionType #}
    <script src="{{ asset('build/js/add-collection-widget.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/create_modify_question.js') }}"></script>
{% endblock %}



{% block body %}
    <h1>Je crée ma question</h1>
    {# Form question #}
    {{ form_start(form) }}
    <table>
        <tr>
            <td colspan="2" class="premier">
                <p><span class="numeroform">1</span> Choisir le module:</p>
            </td>
            <td colspan="2" class="premierselect"> {{form_row(form.module, { 'label': false })}}</td>
        </tr>
        <tr>
            <td colspan="2" class="premier">
                <p><span class="numeroform">2</span> Intitulé de la question :</p>
            </td>
            <td colspan="2" class="second">{{form_row(form.wording, { 'label': false })}}</td>
        </tr>
        <tr>
            <td colspan="2" class="premier"><p><span class="numeroform">3</span> Difficulté de la question:</p></td>
            <td colspan="2" class="difficulty">
                {{ form_row(form.difficulty, {'label': false}) }}
            </td>
        </tr>
        <tr>
            <td colspan="2"><p><span class="numeroform" >4</span> Réponses</p></td>
            <td colspan="2" class="second">
                <ul id ="list_proposal">
                    {% for proposal in form.proposal %}
                        <li class="li_proposal">
                            <div class="div_proposal">
                                {{form_row(proposal.wording)}}
                                {{form_row(proposal.is_correct)}}
                            </div>
                            <button type="button" class="removeProposal" >Suppimer</button>
                        </li>
                    {%endfor%}
                </ul>
                <button
                        data-form='{{ form_widget(form.proposal.vars.prototype) }}'
                        data-index="{{form.proposal|length }}"
                        type="button"
                        id="addProposal"
                        class="addProposal"
                >
                    Ajouter une réponse
                </button>
        <tr>
        <tr>
            <td colspan="2" class="premier"><p class="paddingoption"><span class="formoption">Option</span> Désactiver la question</p></td>
            <td colspan="2" class="second">{{ form_row(form.enabled) }}</td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" class="valid">Valider</button></td>
        </tr>
    </table>

    {{ form_end(form) }}


{% endblock %}