{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/create_qcm_perso.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}Hello InstructorController!{% endblock %}

{% block body %}
    {% set count = 0 %}
    <h1>- CRÉER UN QCM PERSONNALISÉ -</h1>

    <p><span class="etape">Etape 1</span> Choix du qcm par module et par niveau</p>
    <form action="{{ path('instructor_create_qcm_perso') }}" method="GET">
        <select class="selectModule" name="module">
            {% for module in modules %}
                <option value="null">Veuillez choisir un module</option>
                <option value="{{ module.id }}">{{ module.title }}</option>
            {% endfor %}
        </select>
        <button class="buttonGenerate" type="submit" >Générer le qcm</button>
    </form>
    {% if generatedQcm is not null %}
        <h3>- QCM -</h3>
        <div class="showQcm">
            <button class="btnCustom">Personnaliser</button>
            <div class="backWhite">
                <ul>
                    {% for question in generatedQcm.questionsCache %}
                        {% set count = count + 1 %}
                        <li class="questionLi">
                            <div class="questionWordingDiv">
                                <p class="questionWordingP"><span class="numeroForm">{{ count }}</span>{{question.wording}}</p>
                                <p class="chevronBasP">
                                    <img src="{{asset('build/images/chevron_bas.png')}}" alt="Chevron ouvrant" class="chevronBasImg">
                                </p>
                            </div>
                            <div class="proposalWordingDiv">
                                {% for proposal in question.proposals %}
                                    <p class="proposalWordingP"><span class="numeroProp">A</span>
                                        {{ proposal.wording }}
                                    </p>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {#*************************************************************************************************#}
        {#LEGEND#}
        <div>
            <button>Explication</button>
            <p>Le niveau est déterminé automatiquement par la difficulté des questions</p>
            <div class="legendDifficultyDiv">
                <div class="legendDifficultyDecoDiv">
                    <div class="legendDifficultyDecoSubDiv">
                        <div>
                            Facile
                        </div>

                            <img src="{{asset('build/images/trefle_facile_bon_vert.png')}}" alt="Trèfle à trois feuilles">

                    </div>
                    <div class="legendDifficultyNbr">
                        : <p class="nbrQuestionEasy" >5</p>
                    </div>
                </div>

                <div class="legendDifficultyDecoDiv">
                    <div class="legendDifficultyDecoSubDiv">
                        <div>
                            Moyen
                        </div>

                            <img src="{{asset('build/images/trefle_moyen_bon_vert.png')}}" alt="Trèfle à trois feuilles">

                    </div>
                    <div>
                        : <p class="nbrQuestionMedium" >5</p>
                    </div>
                </div>

                <div class="legendDifficultyDecoDiv">
                    <div class="legendDifficultyDecoSubDiv">
                        <div>
                            Difficile
                        </div>

                            <img src="{{asset('build/images/trefle_difficile_bon_vert.png')}}" alt="Trèfle à trois feuilles">

                    </div>
                    <div>
                        : <p class="nbrQuestionDifficult" >5</p>
                    </div>
                </div>
            </div>
        </div>

        {#*************************************************************************************************#}
        {#DRAG AND DROP#}
        <div class="dragAndDrop">
            {#*************************************************************************************************#}
            {#QCM CHOICED #}
            <div>
                <div class="qcmChoisedLegend">
                    QCM Choici
                    <div>
                        Facile
                    </div>
                </div>
                <div class="qcmChoisedMain">
                    <ul>
                        {% for question in generatedQcm.questionsCache %}
                            <li class="qcmChoisedLi">
                                <div>
                                    <div class="questionWordingDiv">
                                        {#TODO Remplacer le texte par l'image des trefles en fonction de la difficulté de la question#}
                                        <p>
                                            Ici trèfle
                                        </p>
                                        <p class="questionWordingP" >
                                            {{question.wording}}
                                        </p>
                                        <p class="chevronBasP">
                                            <img src="{{asset('build/images/chevron_bas.png')}}" alt="Chevron ouvrant" class="chevronBasImg">
                                        </p>
                                    </div>
                                    <div class="proposalWordingDiv">
                                        {% for proposal in question.proposals %}
                                            <p class="proposalWordingP">
                                                {{ proposal.wording }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div>
                                    X
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {#*************************************************************************************************#}
                {#LIST OF QUESTION #}
                <div class="listQuestionTypedDiv">
                    <div class="btnChoiseQuestionType">
                        <button class="btnQuestionsOfficial"> Questions officielles </button>
                        <button class="btnQuestionsPerso"> Questions personalisées </button>
                    </div>
                    {#*************************************************************************************************#}
                    {#OFFICIAL #}
                    <div class="questionsOfficial">
                        <h4>Questions officielles</h4>
                        <ul>
                            {% for question in customQuestions %}
                                <li>
                                    <div class="questionWordingDiv">
                                        {#TODO Remplacer le texte par l'image des trefles en fonction de la difficulté de la question#}
                                        <p>
                                            Ici trèfle
                                        </p>
                                        <p class="questionWordingP">
                                            {{question.wording}}
                                        </p>
                                        <p class="chevronBasP">
                                            <img src="{{asset('build/images/chevron_bas.png')}}" alt="Chevron ouvrant" class="chevronBasImg">
                                        </p>
                                        <div class="modifyQuestionImgDiv">
                                            <img src="{{asset('build/images/modify.png')}}" alt="bouton modifier" class="modifyQuestionImg">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="proposalWordingDiv">
                                            {% for proposal in question.proposals %}
                                                <p class="proposalWordingP">
                                                    {{ proposal.wording }}
                                                </p>
                                            {% endfor %}
                                        </div>
                                        <div>
                                            <button class="save">Enregistrer</button>
                                        </div>

                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {#*************************************************************************************************#}
                    {#CUSTOM #}
                    <div class="questionsCustom">
                        <h4>Questions personalisées</h4>
                        <ul>
                            {% for question in officialQuestions %}
                                <li>
                                    <div class="questionWordingDiv">
                                        {#TODO Remplacer le texte par l'image des trefles en fonction de la difficulté de la question#}
                                        <p>
                                            Ici trèfle
                                        </p>
                                        <p class="questionWordingP">
                                            {{question.wording}}
                                        </p>
                                        <p class="chevronBasP">
                                            <img src="{{asset('build/images/chevron_bas.png')}}" alt="Chevron ouvrant" class="chevronBasImg">
                                        </p>
                                        <div class="modifyQuestionImgDiv">
                                            <img src="{{asset('build/images/modify.png')}}" alt="bouton modifier" class="modifyQuestionImg">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="proposalWordingDiv">
                                            {% for proposal in question.proposals %}
                                                <p class="proposalWordingP">
                                                    {{ proposal.wording }}
                                                </p>
                                            {% endfor %}
                                        </div>
                                        <div>
                                            <button class="save">Enregistrer</button>
                                        </div>

                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {#*************************************************************************************************#}
            {#BUTTON CREATE QUESTION #}
            <div class="createQuestion">
                <button>Créer une question</button>
            </div>
        </div>
        {#*************************************************************************************************#}
        {#NAME#}
        <div>
            <input type="text" placeholder="Veuillez indiquer un nom pour le qcm">
        </div>

        <div>
            <button>Valider ce qcm personalié</button>
        </div>

    {% endif %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/instructor/create_qcm_perso.js') }}"></script>
{% endblock %}