{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/create_question.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/ckeditor_overwrite.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}{{ 'title.createQuestions'|trans }}{% endblock %}

{% block body %}
    <h1> - {{ 'question.iCreate'|trans }} - </h1>

    {# Modale d'erreur #}
    {# {% if form_errors(form.proposals) is not null %} #}
    {% if not form.vars.valid %}
        <div class ="errorAddProposal">
            {{ form_errors(form) }}     
        </div>
    {% endif %}


    {{ form_start(form) }}
     
  
    <table>
        <tr>
            <td colspan="2" class="premier">
                <div class="etape">
                    <div class="circle orangeCircle">1</div>
                    {{ 'module.choice'|trans }}:
                </div>
            </td>
            <td colspan="2" class="premierSelect">
                {{form_widget(form.module)}}

            </td>
        </tr>
        <tr>
            <td colspan="2" class="premier">
                <div class="etape">
                    <div class="circle orangeCircle">2</div>
                    {{ 'question.wording'|trans }}:
                </div>
            </td>
            <td colspan="2" class="second">
                {{form_widget(form.wording)}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="premier">
                <div class="etape">
                    <div class="circle orangeCircle">3</div>
                    {{ 'question.difficulty'|trans }}:
                </div>
            </td>
            <td colspan="2" class="difficulty">
                {{ form_row(form.difficulty)}}
            </td>
        </tr>
        <tr class="blocProposal">
            <td colspan="2" class="premier">
                <div class="etape">
                    <div class="circle orangeCircle" >4</div>
                    {{ 'proposal.create'|trans }}
                </div>
            </td>
            <td colspan="2" class="second" id="error_checked">
                <ul id="listProposal">
                    {% for proposal in form.proposals %}
                        <li class="liProposal">
                            <div class="divProposal">
                                {{form_row(proposal.wording)}}{{form_row(proposal.is_correct_answer)}}
                            </div>
                            <button type="button" class="removeProposal button greyButton" >{{ 'button.delete'|trans }}</button>
                        </li>
                    {%endfor%}
                </ul>
                <button data-form='{{ form_widget(form.proposals.vars.prototype) }}'
                        data-index="{{form.proposals|length }}"
                        type="button"
                        id="add_proposal"
                        class="addProposal button mediumButton mx-auto">
                    {{ 'button.addProposal'|trans }}
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="premier">
                <div class="etape">
                    <div class="circle orangeCircle">5</div>
                    {{ 'question.desactivate'|trans }}
                </div>
            </td>
            <td colspan="2" class="second">
                {{ form_widget(form.is_enabled) }} {{ 'question.desactivateExplain'|trans }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" class="button largeButton greyButton">{{ 'button.validate'|trans }}</button>
            </td>
        </tr>
    </table>
    {{form_rest(form)}}
    
{% endblock %}

{% block javascripts %}
    {# Fichier js pour faire apparaitre les inputs du collectionType #}
    <script src="{{ asset('build/js/add-collection-widget.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/instructor/create_modify_question.js') }}"></script>

    <script>
        let add = {{add}};
        let imgPath = [];
        imgPath.push('{{asset('build/images/trefle_facile_bon_vert.png')}}', '{{asset('build/images/trefle_moyen_bon_vert.png')}}', '{{asset('build/images/trefle_difficile_bon_vert.png')}}')
    </script>

    <script type="text/javascript" src="{{ asset('js/instructor/question_form_error_handling.js') }}"></script>

{% endblock %}