{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/dashboard.css') }}">
{% endblock %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <h1 class="titleDashboard">- {{ 'header.dashboard'|trans }} -</h1>

    <section>
        <p class="title">
            {{ 'title.session'|trans }}
        </p>
        <ul class="choiceSession">
            {% for session in sessions %}
                <li class="liSession">
                    <input class="nameSession" id="{{ session.name }}" type="radio" name="session" value="{{ session.id }}"><label for="{{ session.name }}">{{ session.name }}</label>
                </li>
            {% endfor %}
        </ul>
    </section>

        <h4 class="title">{{ 'title.level'|trans }}</h4>
    <div class="level">
        <select id="module-choice" name="module">
            <option value="0">{{ 'title.selectModule'|trans }}</option>
        </select>
        <ul class="choiceLevel">
            <li class="liLevel">
                <input class="nameLevel" id="allLevel" type="radio" name="level" value="0"><label for="allLevel">{{ 'button.allLevels'|trans }}</label>
            </li>
            <li class="liLevel">
                <input class="nameLevel" id="decouvre" type="radio" name="level" value="1"><label for="decouvre">{{ 'button.decouvre'|trans }}</label>
            </li>
            <li class="liLevel">
                <input class="nameLevel" id="explore" type="radio" name="level" value="2"><label for="explore">{{ 'button.explore'|trans }}</label>
            </li>
            <li class="liLevel">
                <input class="nameLevel" id="maitrise" type="radio" name="level" value="3"><label for="maitrise">{{ 'button.maitrise'|trans }}</label>
            </li>
            <li class="liLevel">
                <input class="nameLevel" id="domine" type="radio" name="level" value="4"><label for="domine">{{ 'button.domine'|trans }}</label>
            </li>
        </ul>
    </div>

    <div class="students">
        <h4 class="title">{{ 'title.studentList'|trans }}</h4>
        <div class="studentsList">
            <ul class="ulListStudents"></ul>
        </div>
    </div>

    <div class="qcms">
        <h4>Qcms effectués</h4>
                <ul id="div-legend">
                    <li class="legend">{{ 'title.difficulty'|trans }}</li>
                    <li class="legend">{{ 'title.qcmType'|trans }}</li>
                    <li class="legend">{{ 'title.module'|trans }}</li>
                    <li class="legend">{{ 'title.date'|trans }}</li>
                    <li class="legend">{{ 'title.note'|trans }}</li>
                </ul>
        <div class="QcmsList">
            <ul class="ulListQcms"></ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let decouvre = "{{asset('build/images/arbre_decouvre.svg')}}";
        let explore = "{{asset('build/images/arbre_explore.svg')}}";
        let maitrise = "{{asset('build/images/arbre_maitrise.svg')}}";
        let domine = "{{asset('build/images/arbre_domine.svg')}}";
    </script>
    <script type="text/javascript" src="{{ asset('js/instructor/dashboard.js') }}"></script>

{% endblock %}
