{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/dashboard.css') }}">
{% endblock %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <h1 class="titleDashboard">- Tableau de bord -</h1>

    <section>
        <p class="title">
            Session
        </p>
        <ul class="choiceSession">
            {% for session in sessions %}
                <li class="liSession">
                    <input class="nameSession" id="{{ session.name }}" type="radio" name="session" value="{{ session.id }}"><label for="{{ session.name }}">{{ session.name }}</label>
                </li>
            {% endfor %}
        </ul>
    </section>

        <h4 class="title">Niveau</h4>
    <div class="level">
        <select id="module-choice" name="module">
            <option value="0">Selectionnez un module</option>
        </select>
        <ul class="choiceLevel">
            <li class="liLevel">
                <input class="nameLevel" id="allLevel" type="radio" name="level" value="0"><label for="allLevel">Tous les niveau</label>
            </li>
            <li class="liLevel">
                <input class="nameLevel" id="decouvre" type="radio" name="level" value="1"><label for="decouvre">Découvre</label>
            </li>
            <li class="liLevel">
                <input class="nameLevel" id="explore" type="radio" name="level" value="2"><label for="explore">Explore</label>
            </li>
            <li class="liLevel">
                <input class="nameLevel" id="maitrise" type="radio" name="level" value="3"><label for="maitrise">Maîtrise</label>
            </li>
            <li class="liLevel">
                <input class="nameLevel" id="domine" type="radio" name="level" value="4"><label for="domine">Domine</label>
            </li>
        </ul>
    </div>

    <div class="students">
        <h4 class="title">Liste des élèves</h4>
        <div class="studentsList">
            <ul class="ulListStudents"></ul>
        </div>
    </div>

    <div class="qcms">
        <h4>Qcms effectués</h4>
        <div class="QcmsList" id="qcms-list">
            <ul class="ulListQcms"></ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let decouvre = "{{asset('build/images/arbre_decouvre.svg')}}";
        let explore = "{{asset('build/images/arbre_explore.svg')}}";
        let maitrise = "{{asset('build/images/arbre_maitrise.svg')}}";
        let domine = "{{asset('build/images/arbre_domine.svg')}}";
    </script>
    <script type="text/javascript" src="{{ asset('js/instructor/dashboard.js') }}"></script>

{% endblock %}
