{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/dispatch_qcms.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/ckeditor_overwrite.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <select id="module-choice" name="module">
        <option value="0">Selectionnez une session pour choisir un module</option>
        {% for session in sessions %}
            <option value="{{ session.id }}">{{ session.name }}</option>
        {% endfor %}
    </select>

    <select id="module-choice" name="module">
        <option value="0">Selectionnez un module</option>
        {% for module in modules %}
            <option value="{{ module.title }}">{{ module.id }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block javascripts %}


{% endblock %}