{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/display_question.css') }}">
{% endblock %}

{% block title %}{{ 'title.listQuestions'|trans }}{% endblock %}

{% block body %}
    {# read and display just one flash message type #}
    {% for message in app.flashes('instructorAddQuestion') %}
    
        <div class="flashNotice">
        <div>
            {{message}} </br>
            <span>{{ 'title.clickToClose'|trans }}</span>
        </div>
        </div>
    {% endfor %}

    {# flash for create qcm perso #}
    {% for message in app.flashes('success') %}

        <div class="flashNoticeQuestionPerso">
        <div>
            {{message}} </br>
            <span>{{ 'title.clickToClose'|trans }}</span>
        </div>
        </div>
    {% endfor %}

    <h1>- {{ 'question.listePerso'|trans }} -</h1>
    <div class="blocQuestions">
        <div class="divQuestions">
            <div class="subDivQuestions">
                {% if questions == null %}
                    <li>{{ 'title.notCreateQuestionAlready'|trans }}</li>
                {% endif %}
                <ul>
                    {% for question in questions %}
                        <li class="liQuestion">
                            <div class="subLiQuestion">
                                <div class="liWording">
                                    <p class="difficulty">
                                        {% if question.difficulty.value == 1 %}
                                            <img class="difficultyIcone" src="{{ asset('build/images/trefle_facile_bon_vert.png') }}" alt="Trefle à trois feuilles, le niveau de difficulté est facile">
                                        {% elseif question.difficulty.value == 2 %}
                                            <img class="difficultyIcone" src="{{ asset('build/images/trefle_moyen_bon_vert.png') }}" alt="Trefle à quarte feuilles, le niveau de difficulté est moyen">
                                        {% else %}
                                            <img class="difficultyIcone" src="{{ asset('build/images/trefle_difficile_bon_vert.png') }}" alt="Trefle à 7 feuilles, le niveau de difficulté est difficile">
                                        {% endif %}
                                    </p>
                                    <div class="divWordingQuestion">{{ question.wording | raw }}</div>
                                    <div class="divChevron">
                                        <img class="imgChevron" src="{{ asset('build/images/chevron_bas.png') }}" alt="chevron ouvrant" data-status="false" data-id="{{ question.id }}">
                                    </div>
                                </div>
                                <a href="{{ path('instructor_modify_question', {question: question.id}) }}" class="linkModify"><img class="buttonModify" src="{{ asset('build/images/modify.png') }}" alt="bouton de modification de la question"></a>
                            </div>
                            <div class="blocDivProposal">
                                <div class="divJs">
                                </div>
                                <div class="divProposals">
                                    {% for proposal in proposals  %}
                                        {% if question.id == proposal.id_question %}
                                            <p>{{ proposal.wording }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="divAdd">
                <a href="{{ path('instructor_create_question') }}" class="linkCreate">
                    <button class="buttonAdd">
                        {{ 'button.createQuestion'|trans }}
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/instructor/displayQuestions.js') }}"></script>
    <script>
        let proposals = {{proposals|json_encode|raw}};
    </script>
{% endblock %}