{% extends 'base.html.twig' %}

{% block body %}


    <ul>
        {% for question in questions %}

            <li>{{question.wording}}</li>

            {% for proposal in proposals  %}

                {% for prop in proposal  %}

                    {% if question.id == prop.question.id %}

                        <p>{{prop.wording}}</p>

                    {% endif %}

                {% endfor %}

            {% endfor %}

        {%endfor%}
    </ul>

{#    <div class="form-question">#}
{#        {{ form_start(form) }}#}
{#        <table>#}
{#            <tr>#}
{#                <td colspan="2">#}
{#                    <p><span>1</span> Choisir le module:</p>#}
{#                </td>#}
{#                <td colspan="2"> {{form_row(form.module, { 'label': false })}}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td colspan="2">#}
{#                    <p><span>2</span> Intitulé de la question :</p>#}
{#                </td>#}
{#                <td colspan="2">{{form_row(form.wording, { 'label': false })}}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td colspan="2"><p><span>3</span> Difficulté de la question:</p></td>#}
{#                <td colspan="2">{{form_row(form.difficulty, { 'label': false })}}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td colspan="2"><p><span>Réponses</span></p></td>#}
{#                <td colspan="2">#}

{#                    <ul id='response-proposal'#}
{#                        data-prototype="{{ form_row(form.proposal.vars.prototype)|e }}"#}
{#                        data-widget-tags="{{ '<li></li>'|e }}"#}
{#                        data-widget-counter="{{ form.proposal|length }}">#}
{#                                {{dump(form.proposal)}}#}

{#                        {% for response in form.proposal %}#}
{#                            <li>#}
{#                                {{dump(response.wording)}}#}
{#                                {{form_row(response.wording) }}#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                    <button type="button"#}
{#                            class="add-another-collection-widget"#}
{#                            data-list-selector="#response-proposal">Add a response</button>#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td colspan="2"><p><span>6</span> Désactiver la question</p></td>#}
{#                <td colspan="2"><button type="submit">Désactiver</button></td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td colspan="2"><button type="submit">Enregistrer</button></td>#}
{#            </tr>#}
{#        </table>#}


{#        {{ form_end(form) }}#}

{#    </div>#}

{% endblock %}