{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/intructorIndex.css') }}">
{% endblock %}



{% block title %}Hello InstructorController!{% endblock %}

{% block body %}
    <h1>- Liste des questions personalisées -</h1>

{{dump(qcms_rep) }}
{{dump(test) }}
{# displayQCM test fonction imbriquée #}
{# {{test}} #}
{{dump(implode(explode('voici mon etoile doré')))}} 
{{dump(numberOfWord('doremi fa sol la si do'))}}
{% if numberOfWord('doremi fa sol la si do') == 6 %}
   {{dump('true')}}
   {{implode(explode('voici mon etoile doré') )}}
{% endif %}


<main class="container_qcm_and_questions_management">

    <div class="bloc_btns_nav">
        <div class="bloc_link_btn_my_creations"><button>Mes créations</button></div>
        <div class="bloc_link_btn_qcm_given"><button>Qcm donnés</button></div>
    </div>

    <div class="bloc_display_question_by_qcm">
        <div class="bloc_qcm">
            <ul class="list_btn_qcm">
            {% for qcms_rep_test in qcms_rep %}
                <li>{{qcms_rep_test.name }}</li>
            {% endfor %}
            </ul>
            <div class="bloc_btn_selected_qcm">
                <button>Selectionner</button>
            </div>
        </div>

        <ul class="list_questions" >
                {% for test_test in test %}
                    <li>
                    <span></span> {{test_test.wording }}
                    {# {{dump(test_test.wording) }} #}
                    </li> 
                    {{dump(numberOfWord(test_test.wording ))}}
                    {{dump(implode(explode('voici mon etoile doré')))}}   
                    {# {{dump(implode(' ', explode(' ', $phrase, $nbre_mots)).'...')}}    #}
                {% endfor %}
         </ul>
        
    </div>

    <div class="div_questions">
        <ul class="ul_questions">

            {% for question in questions %}
                <div class="div_question">
                    <div class="div_question_chevron">
                        <li class="li_wording">
                            <p class="difficulty">
                                {% if question.difficulty == 'Facile' %}
                                    <img class="difficulty_icone" src="{{ asset('build/images/trefle_facile_bon_vert.png') }}" alt="Trefle à trois feuilles, le niveau de difficulté est facile">
                                {% elseif question.difficulty == 'Moyen' %}
                                    <img class="difficulty_icone" src="{{ asset('build/images/trefle_moyen_bon_vert.png') }}" alt="Trefle à quarte feuilles, le niveau de difficulté est moyen">
                                {% else %}
                                    <img class="difficulty_icone" src="{{ asset('build/images/trefle_difficile_bon_vert.png') }}" alt="Trefle à 7 feuilles, le niveau de difficulté est difficile">
                                {% endif %}
                            </p>
                            <span class="span_question">{{ question.wording }}</span>
                            <div class="div_chevron">
                                <img class="img_chevron" src="{{ asset('build/images/chevron_bas.png') }}" alt="chevron ouvrant" data-status="false" data-id="{{ question.id }}">
                            </div>
                        </li>
                        <div class="div_js">
                    </div>

                    </div>
                    <div class="div_proposals">
                        {% for proposal in proposals  %}
                                {% if question.id == proposal.id_question %}
                                    <p>{{proposal.wording}}</p>
                                {% endif %}
                        {% endfor %}
                    </div>
                    <a href="{{ path('instructor_modify_question', {question: question.id}) }}" class="link_modify"><img class="button_modify" src="{{ asset('build/images/Modify.png') }}" alt="bouton de modification de la question"></a>
                </div>
            {%endfor%}
            <div class="div_add">
                <a href="{{ path('instructor_create_question') }}" class="link_create"><button class="button_add">Créer une question</button></a>
            </div>
        </ul>
    </div>
</main>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        let proposals = {{proposals|json_encode|raw}};
    </script>
    <script type="text/javascript" src="{{ asset('js/intructorIndex.js') }}"></script>
{% endblock %}