{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/create_question.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/ckeditor_overwrite.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}{{ 'title.modifyQuestions'|trans }}{% endblock %}

{% block body %}
 {% if not form.vars.valid %}
        <div class ="errorAddProposal">
            {{ form_errors(form) }}     
        </div>
    {% endif %}
    <h1>- {{ 'question.iCorrectModify'|trans }} -</h1>

    {% if  distribute != null %}

{#    Info question#}
        <div class="infoQuestion">
            <p>Sticker info</p>
             <ul>
                <li>{{ 'question.goal'|trans }}</li>
                <li> {{ 'question.warning'|trans }}, {{ 'question.warningExplain'|trans }}</li>
                <li>{{ 'question.infoPublished'|trans }}</li>
                <li>- {{ 'question.firstDatePublished'|trans }} : {{distribute}}</li>
                <li> - {{ 'question.session'|trans }} : {{session}}</li>
             </ul>
        </div>
        {# Form question #}
        <div class="formQuestion">
            {{ form_start(form) }}
            <table>
                <tr>
                    <td colspan="2" class="premier">
                        <p class="partTitle">
                            <span class="numeroForm">1</span>
                            {{ 'module.choice'|trans }} :
                        </p>
                    </td>
                    <td colspan="2" class="premierSelect">
                        {{form_widget(form.module, { 'disabled' : true })}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p class = "partTitle">
                            <span class="numeroForm">2</span>
                            {{ 'question.wording'|trans }} :
                        </p>
                    </td>
                    <td colspan="2" class="second">
                        {{form_widget(form.wording, { 'disabled' : true })}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p  class="partTitle">
                            <span class="numeroForm">3</span>
                            {{ 'question.difficulty'|trans }}:
                        </p>
                    </td>
                    <td colspan="2" class="difficulty">
                        {{ form_widget(form.difficulty, { 'disabled' : true}) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class = "partTitle">
                            <span class="numeroForm" >4</span>
                            {{ 'proposal.create'|trans }}
                        </p>
                    </td>
                    <td colspan="2" class="second">
                        <ul id ="listProposal">
                            {% for proposal in form.proposals %}
                                <li class="liProposal">
                                    <div class="divProposal">
                                        {{form_row(proposal.wording,{'disabled' : true})}}{{form_row(proposal.is_correct_answer,{'disabled' : true})}}
                                    </div>
                                    {% if distribute == null %}
                                        <button type="button" class="removeProposal" >{{ 'button.delete'|trans }}</button>
                                    {% endif %}
                                </li>
                            {%endfor%}
                        </ul>
                        {% if distribute == null %}
                            <button data-form='{{ form_widget(form.proposals.vars.prototype) }}'data-index="{{form.proposals|length }}"type="button"id="add_proposal"class="addProposal">
                                {{ 'button.addProposal'|trans }}
                            </button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p class = "partTitle">
                            <span class="numeroForm">5</span>
                            {{ 'question.desactivate'|trans }}
                        </p>
                        <p>
                            {{ 'question.desactivateExplain'|trans }}
                        </p>
                    </td>
                    <td colspan="2" class="second">
                        {{ form_widget(form.is_enabled) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="valid">{{ 'button.validate'|trans }}</button>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    {% endif %}
{#    ******************************************************************************************/#}

    {#    Info question#}
    {% if distribute == null %}

        <div class="infoQuestion">
           <div class="info">
                <p>Sticker infos</p>
                <ul class="stickerInfo">
                    <li><span>{{ 'question.notice'|trans }} : </span>  {{ 'question.goal'|trans }}</li>
                    <li><span> {{ 'question.warning'|trans }} : </span>  {{ 'question.warningExplain'|trans }}</li>
                    <li><span>{{ 'question.reminder'|trans }} : </span>  {{ 'question.infoPublished'|trans }}</li>
                </ul>
            </div>
        </div>
        {# Form question #}
        <div class="formQuestion">
            {{ form_start(form) }}
            <table>
                <tr>
                    <td colspan="2" class="premier">
                        <p class="partTitle">
                            <span class="numeroForm">1</span>
                            {{ 'module.choice'|trans }}:
                        </p>
                    </td>
                    <td colspan="2" class="premierSelect">
                        {{form_widget(form.module)}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p class = "partTitle">
                            <span class="numeroForm">2</span>
                            {{ 'question.wording'|trans }} :
                        </p>
                    </td>
                    <td colspan="2" class="second">
                        {{form_widget(form.wording)}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p  class="partTitle">
                            <span class="numeroForm">3</span>
                            {{ 'question.difficulty'|trans }} :
                        </p>
                    </td>
                    <td colspan="2" class="difficulty">
                        {{ form_widget(form.difficulty) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class = "partTitle">
                            <span class="numeroForm" >4</span>
                            {{ 'proposal.create'|trans }}
                        </p>
                    </td>
                    <td colspan="2" class="second" id="error_checked">
                        <ul id ="listProposal">
                            {% for proposal in form.proposals %}
                                <li class="liProposal">
                                    <div class="divProposal">
                                        {{form_row(proposal.wording)}}{{form_row(proposal.is_correct_answer)}}
                                    </div>
                                    <button type="button" class="removeProposal" >{{ 'button.delete'|trans }}</button>
                                </li>
                            {%endfor%}
                        </ul>
                        <button data-form='{{ form_widget(form.proposals.vars.prototype) }}'
                                data-index="{{form.proposals|length }}"
                                type="button"
                                id="add_proposal"
                                class="addProposal">
                            {{ 'button.addProposal'|trans }}
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p class = "partTitle">
                            <span class="numeroForm">5</span>
                            {{ 'question.desactivate'|trans }}
                        </p>
                        <p class="center">
                            {{ 'question.desactivateExplain'|trans }}
                    </td>
                    <td colspan="2" class="option">
                        {{ form_widget(form.is_enabled) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="valid">{{ 'button.validate'|trans }}</button>
                    </td>
                </tr>
            </table>
            {{form_rest(form)}}
            {{ form_end(form) }}
        </div>

    {% endif %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/instructor/create_modify_question.js') }}"></script>
    <script>
        let add = {{add|json_encode}};
        let imgPath = [];
        imgPath.push('{{asset('build/images/trefle_facile_bon_vert.png')}}', '{{asset('build/images/trefle_moyen_bon_vert.png')}}', '{{asset('build/images/trefle_difficile_bon_vert.png')}}')
    </script>
{% endblock %}