{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/create_modify_question.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/ckeditor_overwrite.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}{{ 'title.modifyQuestions'|trans }}{% endblock %}

{% block body %}
 {% if not form.vars.valid %}
        <div class ="errorAddProposal">
            {{ form_errors(form) }}     
        </div>
    {% endif %}
    <h1>- {{ 'question.iCorrectModify'|trans }} -</h1>

    {% if  distribute != null %}

{#    Info question#}
        <div class="infoQuestion">
             <div class="info">
                 <p>{{ 'title.stickerInfos'|trans }}</p>
                 <ul class="stickerInfo">
                     <li><span>{{ 'question.notice'|trans }} : </span> {{ 'question.goal'|trans }}</li>
                     <li><span> {{ 'question.warning'|trans }} : </span>, {{ 'question.warningExplain'|trans }}</li>
                     <li><span>{{ 'question.reminder'|trans }} : </span> {{ 'question.infoPublished'|trans }}</li>
                     <li><span>{{ 'question.firstDatePublished'|trans }} : </span> {{distribute}}</li>
                     <li><span>{{ 'question.session'|trans }} : </span> {{session}}</li>
                 </ul>
             </div>
        </div>
        {# Form question #}
        <div class="formQuestion">
            {{ form_start(form) }}
            <table>
                <tr>
                    <td colspan="2" class="premier">
                        <div class="align">
                            <div class="circle orangeCircle">1</div>
                            {{ 'module.choice'|trans }} :
                        </div>
                    </td>
                    <td colspan="2" class="premierSelect">
                        {{form_widget(form.module, { 'disabled' : true })}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <div class = "align">
                            <div class="circle orangeCircle">2</div>
                            {{ 'question.wording'|trans }} :
                        </div>
                    </td>
                    <td colspan="2" class="second">
                        {{form_widget(form.wording, { 'disabled' : true })}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <div  class="align">
                            <div class="circle orangeCircle">3</div>
                            {{ 'question.difficulty'|trans }}:
                        </div>
                    </td>
                    <td colspan="2" class="difficulty">
                        {{ form_widget(form.difficulty, { 'disabled' : true}) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class = "align">
                            <div class="circle orangeCircle" >4</div>
                            {{ 'proposal.create'|trans }}
                        </div>
                    </td>
                    <td colspan="2" class="second">
                        <ul id="listProposal">
                            {% for proposal in form.proposals %}
                                <li class="liProposal">
                                    <div class="divProposal">
                                        {{form_row(proposal.wording,{'disabled' : true})}}{{form_row(proposal.is_correct_answer,{'disabled' : true})}}
                                    </div>
                                    {% if distribute == null %}
                                        <button type="button" class="removeProposal button greyButton" >{{ 'button.delete'|trans }}</button>
                                    {% endif %}
                                </li>
                            {%endfor%}
                        </ul>
                            <button data-form='{{ form_widget(form.proposals.vars.prototype) }}'
                                    data-index="{{form.proposals|length }}"
                                    type="button"id="add_proposal"
                                    class="addProposal button mediumButton mx-auto"
                                    style="display:none;">
                                {{ 'button.addProposal'|trans }}
                            </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <div class="align">
                            <div class="circle orangeCircle">5</div>
                            {{ 'question.desactivate'|trans }}
                        </div>
                    </td>
                    <td colspan="2" class="second">
                        {{ form_widget(form.is_enabled) }} {{ 'question.desactivateExplain'|trans }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" class="valid">{{ 'button.validate'|trans }}</button>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    {% endif %}
{#    ******************************************************************************************/#}

    {#    Info question#}
    {% if distribute == null %}

        <div class="infoQuestion">
           <div class="info">
                <p>{{ 'title.stickerInfos'|trans }}</p>
                <ul class="stickerInfo">
                    <li><span>{{ 'question.notice'|trans }} : </span>  {{ 'question.goal'|trans }}</li>
                    <li><span> {{ 'question.warning'|trans }} : </span>  {{ 'question.warningExplain'|trans }}</li>
                    <li><span>{{ 'question.reminder'|trans }} : </span>  {{ 'question.infoNoPublished'|trans }}</li>
                </ul>
            </div>
        </div>
        {# Form question #}
        <div class="formQuestion">
            {{ form_start(form) }}
            <table>
                <tr>
                    <td colspan="2" class="premier">
                        <p class="align">
                            <span class="circle orangeCircle">1</span>
                            {{ 'module.choice'|trans }}:
                        </p>
                    </td>
                    <td colspan="2" class="premierSelect">
                        {{form_widget(form.module)}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p class="align">
                            <span class="circle orangeCircle">2</span>
                            {{ 'question.wording'|trans }} :
                        </p>
                    </td>
                    <td colspan="2" class="second">
                        {{form_widget(form.wording)}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p  class="align">
                            <span class="circle orangeCircle">3</span>
                            {{ 'question.difficulty'|trans }} :
                        </p>
                    </td>
                    <td colspan="2" class="difficulty">
                        {{ form_widget(form.difficulty) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="align">
                            <span class="circle orangeCircle" >4</span>
                            {{ 'proposal.create'|trans }}
                        </p>
                    </td>
                    <td colspan="2" class="second" id="error_checked">
                        <ul id="listProposal">
                            {% for proposal in form.proposals %}
                                <li class="liProposal">
                                    <div class="divProposal">
                                        {{form_row(proposal.wording)}}{{form_row(proposal.is_correct_answer)}}
                                    </div>
                                    <button type="button" class="removeProposal button greyButton" >{{ 'button.delete'|trans }}</button>
                                </li>
                            {%endfor%}
                        </ul>
                        <button data-form='{{ form_widget(form.proposals.vars.prototype) }}'
                                data-index="{{form.proposals|length }}"
                                type="button"
                                id="add_proposal"
                                class="addProposal button mediumButton mx-auto">
                            {{ 'button.addProposal'|trans }}
                        </button>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td colspan="2" class="premier">
                        <div class="align">
                            <div class="circle orangeCircle">5</div>
                            <p class="etape">
                                <span class="numeroForm"></span>
                                {{ 'question.explanation'|trans }}
                            </p>
                    </td>
                    <td colspan="2" class="second">
                        {{form_widget(form.explanation)}}
                    </td>
                </tr>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p class="align">
                            <span class="circle orangeCircle">6</span>
                            {{ 'question.desactivate'|trans }}
                        </p>
                    </td>
                    <td colspan="2" class="option">
                        <p class="center">
                            {{ 'question.desactivateExplain'|trans }} {{ form_widget(form.is_enabled) }}
                        </p>
                    </td>
                </tr>
                {% if app.user.isReferent or 'ROLE_ADMIN' in app.user.roles %}
                    <tr>
                        <td colspan="2" class="premier">
                            <p class="align">
                                <span class="circle orangeCircle">Option</span>
                                {{ 'question.isOfficial'|trans }}
                            </p>
                        </td>
                        <td colspan="2" class="second">
                            {{ form_widget(form.is_official) }} {{ 'question.isOfficialExplain'|trans }}
                        </td>
                    </tr>
                {% endif %}
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <tr>
                        <td colspan="2" class="premier">
                            <p class="etape">
                                <span class="numeroForm">Option</span>
                                {{ 'question.isMandatoty'|trans }}
                            </p>
                        </td>
                        <td colspan="2" class="second">
                            {{ form_widget(form.is_mandatory) }} {{ 'question.isMandatoryExplain'|trans }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <button id="valid" type="button" class="button largeButton greyButton">{{ 'button.validate'|trans }}</button>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>

    {% endif %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/instructor/create_modify_question.js') }}"></script>
    <script>
        let add = {{add|json_encode}};
        let imgPath = [];
        imgPath.push('{{asset('build/images/trefle_facile.svg')}}', '{{asset('build/images/trefle_moyen.svg')}}', '{{asset('build/images/difficil_difficile.svg')}}')
    </script>

    <script type="text/javascript" src="{{ asset('js/instructor/question_form_error_handling.js') }}"></script>
{% endblock %}