{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/modify_question.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}Modification de mes questions{% endblock %}

{% block body %}
    <h1>- Je corrige/modifie ma question -</h1>

    {% if  distribute != null %}

{#    Info question#}<div class="infoQuestion">
        <p>
            Cette page a pour but de permettre de corriger les possibles fautes orthoqraphiques dans l'intitulé de laquesiton ou des réponses.
        </p>
        <p>
            <strong> Attention </strong>
            , une fois créée et distribuée aux élève, la question ne pourra plus être modifiées ou supprimer.
        </p>
        <p>
            Votre question a déjà été diffusée aux élèves, elle ne peut plus être modifiée.
            <br>
            - 1ère date de diffusion : {{distribute}}
            <br>
            - Classe : {{session}}
        </p>
        </div>
        {# Form question #}
        <div class="formQuestion">
            {{ form_start(form) }}
            <table>
                <tr>
                    <td colspan="2" class="premier">
                        <p class="partTitle">
                            <span class="numeroForm">1</span>
                            Choisir le module:
                        </p>
                    </td>
                    <td colspan="2" class="premierselect">
                        {{form_widget(form.module, { 'disabled' : true })}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p class = "partTitle">
                            <span class="numeroForm">2</span>
                            Intitulé de la question :
                        </p>
                    </td>
                    <td colspan="2" class="second">
                        {{form_widget(form.wording, { 'disabled' : true })}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p  class="partTitle">
                            <span class="numeroForm">3</span>
                            Difficulté de la question:
                        </p>
                    </td>
                    <td colspan="2" class="difficulty">
                        {{ form_widget(form.difficulty, { 'disabled' : true}) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class = "partTitle">
                            <span class="numeroForm" >4</span>
                            Créer des réponses
                        </p>
                    </td>
                    <td colspan="2" class="second">
                        <ul id ="listProposal">
                            {% for proposal in form.proposals %}
                                <li class="liProposal">
                                    <div class="divProposal">
                                        {{form_row(proposal.wording,{'disabled' : true})}}{{form_row(proposal.is_correct,{'disabled' : true})}}
                                    </div>
                                    {% if distribute == null %}
                                        <button type="button" class="removeProposal" >Suppimer</button>
                                    {% endif %}
                                </li>
                            {%endfor%}
                        </ul>
                        {% if distribute == null %}
                            <button data-form='{{ form_widget(form.proposals.vars.prototype) }}'data-index="{{form.proposals|length }}"type="button"id="add_proposal"class="addProposal">
                            Ajouter une réponse
                            </button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p class = "partTitle">
                            <span class="numeroForm">5</span>
                            Désactiver la question
                        </p>
                        <p>
                            La question ne sera plus dans la liste des questions pouvant être ajoutée à un qcm
                        </p>
                    </td>
                    <td colspan="2" class="second">
                        {{ form_widget(form.enabled) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="valid">Valider</button>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    {% endif %}
{#    ******************************************************************************************/#}

    {#    Info question#}
    {% if distribute == null %}

        <div class="infoQuestion">
            <p>
                Cette page a pour but de permettre de corriger les possibles fautes orthoqraphiques dans l'intitulé de laquesiton ou des réponses.
            </p>
            <p>
                <strong> Attention </strong>
                , une fois créée et distribuée aux élève, la question ne pourra plus être modifiées ou supprimer.
            </p>
            <p>
                Votre quesiton n'a pas encore été donnée aux élèves, vous pouvez encore la modifier
            </p>
        </div>
        {# Form question #}
        <div class="formQuestion">
            {{ form_start(form) }}
            <table>
                <tr>
                    <td colspan="2" class="premier">
                        <p class="partTitle">
                            <span class="numeroForm">1</span>
                            Choisir le module:
                        </p>
                    </td>
                    <td colspan="2" class="premierselect">
                        {{form_widget(form.module)}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p class = "partTitle">
                            <span class="numeroForm">2</span>
                            Intitulé de la question :
                        </p>
                    </td>
                    <td colspan="2" class="second">
                        {{form_widget(form.wording)}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p  class="partTitle">
                            <span class="numeroForm">3</span>
                            Difficulté de la question:
                        </p>
                    </td>
                    <td colspan="2" class="difficulty">
                        {{ form_widget(form.difficulty) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class = "partTitle">
                            <span class="numeroForm" >4</span>
                            Créer des réponses
                        </p>
                    </td>
                    <td colspan="2" class="second" id="error_checked">
                        <ul id ="listProposal">
                            {% for proposal in form.proposals %}
                                <li class="liProposal">
                                    <div class="divProposal">
                                        {{form_row(proposal.wording)}}{{form_row(proposal.is_correct)}}
                                    </div>
                                    <button type="button" class="removeProposal" >Supprimer</button>
                                </li>
                            {%endfor%}
                        </ul>
                        <button data-form='{{ form_widget(form.proposals.vars.prototype) }}'data-index="{{form.proposals|length }}"type="button"id="add_proposal"class="addProposal">
                        Ajouter une réponse
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="premier">
                        <p class = "partTitle">
                            <span class="numeroForm">5</span>
                            Désactiver la question
                        </p>
                        <p class="center">
                            La question ne sera plus dans la liste des questions pouvant être ajoutée à un qcm
                        </p>
                    </td>
                    <td colspan="2" class="option">
                        {{ form_widget(form.enabled) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="valid">Valider</button>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>

    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script type="text/javascript" src="{{ asset('js/create_modify_question.js') }}"></script>
    <script>
        let add = {{add|json_encode}};
        let imgPath = [];
        imgPath.push('{{asset('build/images/trefle_facile_bon_vert.png')}}', '{{asset('build/images/trefle_moyen_bon_vert.png')}}', '{{asset('build/images/trefle_difficile_bon_vert.png')}}')
    </script>
{% endblock %}