{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/my_creations.css') }}">
{% endblock %}


{% block body %}
    <h1>Mes créations</h1>

    <div class="container_my_creations">
        <div class="blocLinkToMyCreation">
            <p>Mes qcms</p>
            <div class="blocLinkToMyQcmsCreation">
                <div class="btnLinkPersoQcm">
                    <div class="blocLinkDecorative">    
                        <a href="{{ path('instructor_display_qcms')}}" class="linkToQcm two">{{ 'button.myQcmsExercice'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blocLinkToMyCreation">
            <p>Mes questions</p>
            <div class="blocLinkToMyQuestionsCreation">
                <div class="btnLinkPersoQuestions"> 
                    <div class="blocLinkDecorative">  
                        <a href="{{ path('instructor_display_questions')}}" class="linkToQuestion two">{{ 'button.myQuestionsCustom'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
