{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/my_creations.css') }}">
{% endblock %}

{% block title %}{{ 'title.myCreation'|trans }}{% endblock %}


{% block body %}
    <h1>{{ 'title.myCreation'|trans }}</h1>

    <div class="containerMyCreations">
        <div class="blocLinkToMyCreation">
            <p>{{ 'title.myQcms'|trans }}</p>
            <div class="blocLinkToMyQcmsCreation">
                <div class="btnLinkPersoQcm">
                    <div class="blocLinkDecorative">    
                        <a href="{{ path('instructor_display_qcms')}}" class="linkToQcm two">{{ 'button.myQcmsExercice'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blocLinkToMyCreation">
            <p>{{ 'title.myQuestions'|trans }}</p>
            <div class="blocLinkToMyQuestionsCreation">
                <div class="btnLinkPersoQuestions"> 
                    <div class="blocLinkDecorative">  
                        <a href="{{ path('instructor_display_questions')}}" class="linkToQuestion two">{{ 'button.myQuestionsCustom'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
