{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('css/instructor/plan_qcm.css')}}" rel="stylesheet">
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/ckeditor_overwrite.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1> {{ 'title.planQcm'|trans }} </h1>
    <div class="container">
        <form action="{{ path('instructor_distribue_qcm') }}" method="post">
            <section>
                <p>
                    <span class="etape">Etape 1</span> {{ 'session.choice'|trans }}
                </p>
                <ul class="choixClasse">
                    {% for session in instructorSessions %}
                        <li class="liSession">
                            <input class="nameSession" type="radio" name="session" value="{{ session.id }}"><label for="session">{{ session.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                <p>
                    <span class="etape">Etape 2</span> {{ 'module.choice'|trans }}
                </p>
                <div class="backgroundEtape">
                    <select id="module-choice" name="module">
                        <option value="0">Selectionnez une session pour choisir un module</option>
                    </select>
                </div>
            </section>
            <section>
                <p>
                    <span class="etape">Etape 3</span> {{ 'qcm.choice'|trans }}
                </p>
                <div class="backgroundEtape">
                    <select id="qcm-choice" name="qcm">
                        <option value="0">Selectionnez un module pour choisir un QCM</option>
                    </select>
                </div>
            </section>
            <section>
                <p>
                    <span class="etape">Etape 4</span> Choix du ou des élèves pouvant faire le QCM
                    <ul id="qcm-students">
                        <li>La liste des élèves apparaitra ici lorsque vous aurez choisi une session.</li>
                    </ul>
                </p>
            </section>
            <section>
                <p>
                    <span class="etape">Etape 5</span> Choix des dates
                </p>
                <div class="allDate">
                    <div class="date">
                        <label for="start-time">Date à partir de laquelle le QCM sera accèssible aux élèves</label>
                        <input id="start-time" name="start-time" type="datetime-local">
                    </div>
                    <div class="date">
                        <label for="end-time">Date avant laquelle le QCM devra être fait par les élèves</label>
                        <input id="end-time" name="end-time" type="datetime-local">
                    </div>
                </div>
            </section>
            <button class="valid" type="submit">Distribuer le QCM aux élèves sélectionnés</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('js/instructor/qcmPlanner.js') }}"></script>
{% endblock %}