{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('css/instructor/plan_qcm.css')}}" rel="stylesheet">
    <link href="{{asset('build/app.css')}}" rel="stylesheet">
    <link href="{{asset('css/instructor/ckeditor_overwrite.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1> {{ 'title.planQcm'|trans }} </h1>
    <div class="containerPlanQcm">
        <form action="{{ path('instructor_distribue_qcm') }}" method="post">
            <section>
                <p>
                    <span class="etape">{{ 'title.step1'|trans }}</span> {{ 'session.choice'|trans }}
                </p>
                <ul class="choixClasse">
                    {% for session in instructorSessions %}
                        <li class="liSession">
                            <input class="nameSession" id="{{ session.name }}" type="radio" name="session" value="{{ session.id }}"><label for="{{ session.name }}">{{ session.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                <p>
                    <span class="etape">{{ 'title.step2'|trans }}</span> {{ 'module.choice'|trans }}
                </p>
                <div class="backgroundEtape">
                    <select id="module-choice" name="module">
                        <option value="0">{{ 'question.selectQuestionToChooseModule'|trans }}</option>
                    </select>
                </div>
            </section>
            <section>
                <p>
                    <span class="etape">{{ 'title.step3'|trans }}</span> {{ 'qcm.choice'|trans }}
                </p>
                <div class="backgroundEtape">
                    <select id="qcm-choice" name="qcm">
                        <option value="0">{{ 'module.selectModuleToChooseQcm'|trans }}</option>
                    </select>
                </div>
            </section>
            <section>
                <p>
                    <span class="etape">{{ 'title.step4'|trans }}</span> {{ 'qcm.chooseStudents'|trans }}
                    <ul id="qcm-students">
                        <li>{{ 'session.popStudentList'|trans }}</li>
                    </ul>
                </p>
            </section>
            <section>
                <p>
                    <span class="etape">{{ 'title.step5'|trans }}</span> {{ 'date.choice'|trans }}
                </p>
                <div class="allDate">
                    <div class="date">
                        <label for="start-time">{{ 'date.studentAccassibleQcm'|trans }}</label>
                        <input id="start-time" name="start-time" type="datetime-local">
                    </div>
                    <div class="date">
                        <label for="end-time">{{ 'date.studentQcmDoneBefore'|trans }}</label>
                        <input id="end-time" name="end-time" type="datetime-local">
                    </div>
                </div>
            </section>
            <button class="button largeButton greyButton" type="submit">{{ 'button.distributeQcmToSelectedStudents'|trans }}</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('js/instructor/qcmPlanner.js') }}"></script>
{% endblock %}