{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/welcome_instructor.css') }}">
{% endblock %}



{% block title %}{{ 'head.dashboard'|trans }}{% endblock %}

{% block body %}

  
    <div class="flash-notice">
       <div>
        test message </br>
        <span>clic sur le cadre pour fermer l'onglet</span>
       </div>
    </div>
{# read and display just one flash message type #}
{% for message in app.flashes('instructorAddQcm') %}
   
    {# <div class="flash-notice">
       <div>
        {{ message }}
       </div>
    </div> #}
{% endfor %}

    <h1> - Accueil - </h1>
    <div class="accueilDiv">
        <div class="hrefDiv">
            <div class="hrefDecorationDiv">
                <a href="{{ path('instructor_display_questions')}}" class="accueilA">{{ 'title.creations'|trans }}</a>
            </div>
        </div>
        <div class="hrefDiv">
            <div class="hrefDecorationDiv">
                <a href="{{ path('instructor_create_question') }}" class="accueilA">{{ 'question.create'|trans }}</a>
            </div>
        </div>
        <div class="hrefDiv">
            <div class="hrefDecorationDiv">
                <a href="{{ path('instructor_create_qcm_perso') }}" class="accueilA">Créer un qcm d'exercice</a>
            </div>
        </div>
        <div class="hrefDiv">
            <div class="hrefDecorationDiv">
                <a href="{{ path('instructor_create_qcm') }}" class="accueilA">Créer un qcm officiel</a>
            </div>
        </div>
        <div class="hrefDiv">
            <div class="hrefDecorationDiv">
                <a href="#" class="accueilA">Plannifier la distribution d'un qcm</a>
            </div>
        </div>
    </div>

{% block javascripts %}
{# temporaire #}
    <script>
    window.onload = function (event) {
         let span = document.querySelector(".flash-notice div");
         let addFlash = document.querySelector(".flash-notice ");
    
         span.addEventListener("click",function () {
             addFlash.style.display="none";

         })
    }
    </script>
 
{% endblock %}
{% endblock %}