{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/welcome_instructor.css') }}">
{% endblock %}



{% block title %}{{ 'head.dashboard'|trans }}{% endblock %}

{% block body %}

  
{# read and display just one flash message type #}
{% for message in app.flashes('instructorAddQcm') %}
   
    <div class="flash-notice">
       <div>
        {{message}} </br>
        <span>clic sur le cadre pour fermer l'onglet</span>
       </div>
    </div>
{% endfor %}

    <h1> -  {{ 'title.weclome'|trans }} - </h1>
    <div class="accueilDiv">
       <div class="sectionOne"> 
           <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('my_creations')}}" class="accueilA">{{ 'button.myCreation'|trans }}</a>
                </div>
           </div>
        </div>
        <div class="sectionTwo">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('instructor_plan_qcm') }}" class="accueilA"> {{ 'button.planQcmExercice'|trans }}</a>
                </div>
            </div>
       </div>
        <div class="sectionThree">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('instructor_create_question') }}" class="accueilA">{{ 'button.createQuestion'|trans }}</a>
                </div>
            </div>
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('instructor_create_qcm_perso') }}" class="accueilA"> {{ 'button.createQcmCustom'|trans }}</a>
                </div>
            </div>
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('instructor_create_qcm') }}" class="accueilA"> {{ 'button.generateQcmOfficial'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

{% block javascripts %}
{# temporaire #}
    <script>
    window.onload = function (event) {
         let span = document.querySelector(".flash-notice div");
         let addFlash = document.querySelector(".flash-notice ");
         let hrefDecorationDiv = document.querySelector(".hrefDecorationDiv");
         let hrefDiv = document.querySelector(".hrefDiv");

         span.addEventListener("click",function () {
             addFlash.style.display="none";

         })
        //  hrefDecorationDiv.addEventListener("mouseover",function(){
        //     hrefDiv.style.padding="20px"
        //  })
    }
    </script>
 
{% endblock %}
{% endblock %}