<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="{{asset('css/base.css')}}" rel="stylesheet">
        <link rel="icon" href="{{asset('build/images/feuille_logo_icon.png')}}">
        <link rel="apple-touch-icon" href="{{asset('build/images/feuille_logo_icon.png')}}">
    </head>

    <body>
        {# modal explication #}

        <div class="bloc_modal_explaination">
        <div class="modal">
            <img src="{{asset('build/images/croix.png')}}" alt="rappel" srcset="">
            <div>
                <p class="pTitle">- Modifier un qcm -</p>
                <div>
                    <p class="notice">
                        <img src="{{asset('build/images/notification.png')}}" alt="rappel" srcset="">
                        <span> Petit rappel:</span> <br/><br/>
                        Les qcms sélectionnés  ont tous un niveau de difficulté allant de facile , moyen ou difficile 
                        déterminés par le niveau de difficulté des questions. <br/>
                        A noter que, cela est également valable  après personnalisation.
                    </p>
                    <p class="rules">
                        1/ Lors de la modification(personnalisation) d'un qcm, il est possible de :<br/>
                        - retirer ou d'ajouter une ou plusieurs questions 
                    <p>
                </div>
                </div>
            <div>
                <p class="pTitle">- Niveau du qcm -</p>
                <table class="modal_difficulty_level">
                  <tr>
                    <td><div>Facile</div></td>
                    <td><div>Moyen</div></td>
                    <td><div>Difficile</div></td>
                  </tr>
                  <tr>
                    <td>Minimum X question</td>
                    <td>Minimum X question</td>
                    <td>Minimum X question</td>
                  </tr>
                </table>
            </div>
        </div>
        </div>
    {% include('layout/header.html.twig')%}
        <div class="container">
            {%for message in app.flashes('success')%}
                <div class="flashMessage">
                    {{message}}
                </div>
            {%endfor%}
            {% block body %}

            {% endblock %}
            {% include('layout/footer.html.twig')%}
        </div>

        <div id="reportBugModale">
            <div>
                <button id="closeReportBugModaleBtn" class="button">Fermer</button>
                <h3>Signaler un bug</h3>
                <form id="reportBugForm">
                    {% if app.user %}
                        <input type="hidden" id="bugReportUserId" value="{{app.user.id}}" name="bugReportUserId">
                    {% endif %}
                    <input type="hidden" id="bugReportUrl" value="" name="bugReportUrl">
			        <script>document.querySelector('#bugReportUrl').value = document.location.href</script>
                    <textarea name="reportBugMsg" id="reportBugMsg" cols="30" rows="10"></textarea>
                    <button type="submit" class="errorSubmitBtn">Envoyer</button>
                </form>
            </div>
        </div>

        <div id="bugReportMessage"></div>

         {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="{{ asset('js/layout.js') }}"></script>
    </body>

</html>
