{% block stylesheets %}
    <link href="{{asset('css/layout.css')}}" rel="stylesheet">
{% endblock %}

<header>
    <img class="logo" src="{{asset('build/images/logo_officiel.png')}}">
    <div class="choix">
        <a href="" class="qcm">{{ 'header.qcm'|trans }}</a>
        <a href="" class="tab">{{ 'header.dashboard'|trans }}</a>
        {# temporaire #}
        <a href="{{path('my_creations')}}" class="creation">Mes créations</a>
        <a href="" class="qcmGiven">Qcm donnés</a>
    </div>
    <div class="eleve">
        <p class="helloStudent">Salut,{% if app.user %} {{ app.user.getFirstName() }} {% endif %}</p>
    </div>
</header>