{% block stylesheets %}
    <link href="{{asset('css/layout.css')}}" rel="stylesheet">
{% endblock %}

<header>
    {#/* TODO A enlever une fois que a connection avec google sera opérationnelle*/#}
    {% set user = 'student' %}

    <img class="logo" src="{{asset('build/images/logo_officiel.png')}}">
    <nav class="choix">

        {#/* TODO A enlever une fois que a connection avec google sera opérationnelle*/#}
        {% if user is same as 'student' %}
            <a href="{{path('student_qcms')}}" class="tab">{{ 'header.dashboard'|trans }}</a>
        {% elseif user is same as 'instructor' %}
            <a href="{{path('welcome_instructor')}}" class="tab">{{ 'header.dashboard'|trans }}</a>
            <a href="#" class="tab">{{ 'header.planning'|trans }}</a>
        {% endif %}


{#        {% if app.user %}#}
{#        <a href="{{path('welcome_instructor')}}" class="tab">{{ 'header.dashboard'|trans }}</a>#}
{#        <a href="#" class="tab">{{ 'header.planning'|trans }}</a>#}
{#        {% endif %}#}
    </nav>
    <div class="eleve">
        <p class="helloStudent">Salut,{% if app.user %} {{ app.user.getFirstName() }} {% endif %}</p>
    </div>
    <div class="logOut">
        <a href="{{path('app_logout')}}" ><img class="imgLogOut" src="{{asset('build/images/exit.png')}}" alt="Déconnexion"> </a>
    </div>
</header>

