{% block stylesheets %}
    <link href="{{asset('css/layout.css')}}" rel="stylesheet">
{% endblock %}

<header>

    <div class="part1">
        <img class="logo" src="{{asset('build/images/logo_sans_fond.png')}}">
        <button id="reportBugBtn">{{ 'button.reportBug'|trans }}</button>
    </div>

    <nav class="choice">

        {% if 'ROLE_STUDENT' in app.user.roles %}
            <a href="{{path('student_qcms')}}" class="tab">{{ 'header.qcms'|trans }}</a>
            <a href="{{path('student_dashboard')}}" class="tab">{{ 'header.dashboard'|trans }}</a>
        {% elseif 'ROLE_INSTRUCTOR' in app.user.roles %}
            <a href="{{path('welcome_instructor')}}" class="tab">{{ 'header.dashboard'|trans }}</a>
            <a href="#" class="tab">{{ 'header.planning'|trans }}</a>
        {% elseif 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{path('app_admin')}}" class="tab">Dashboard</a>
            <a href="{{ path('app_admin_stats') }}" class="tab">Stats</a>
        {% endif %}

    </nav>
    <div class="part3">
        <div class="eleve">
            <p class="helloStudent">{{ 'title.hello'|trans }},{% if app.user %} {{ app.user.getFirstName() }} {% endif %}</p>
        </div>
        <div class="logOut">
            <a href="{{path('app_logout')}}" ><img class="imgLogOut" src="{{asset('build/images/exit.png')}}" alt="Déconnexion"> </a>
        </div>
    </div>


</header>

{% block javascripts %}
    <script src="{{ asset('js/header.js') }}"></script>
{% endblock %}

